.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:auto;margin-bottom:auto} .ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.818000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.732000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.957000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.957000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-ms-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-webkit-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:-258.000000px;}
.ws3{word-spacing:-1.820000px;}
.ws2{word-spacing:-0.260000px;}
.ws1{word-spacing:0.000000px;}
._5{margin-left:-16.820000px;}
._3{margin-left:-12.900000px;}
._0{margin-left:-8.686000px;}
._8{margin-left:-6.760000px;}
._4{margin-left:-4.940000px;}
._6{margin-left:-3.666000px;}
._7{margin-left:-2.340000px;}
._1{width:12.814000px;}
._2{width:17.200000px;}
.fc0{color:rgb(162,103,49);}
.fs1{font-size:260.000000px;}
.fs0{font-size:860.000000px;}
.y0{bottom:109.595960px;}
.y7{bottom:243.211818px;}
.y6{bottom:741.840025px;}
.y5{bottom:768.885480px;}
.y4{bottom:799.466288px;}
.y3{bottom:888.345606px;}
.y2{bottom:960.820354px;}
.y1{bottom:1033.295101px;}
.h3{height:187.200000px;}
.h4{height:191.620000px;}
.h2{height:689.720000px;}
.h1{height:882.954545px;}
.h0{height:1400.000000px;}
.w0{width:1081.818182px;}
.x0{left:0.000000px;}
.x3{left:201.945934px;}
.x1{left:225.964596px;}
.x5{left:378.190909px;}
.x7{left:391.760480px;}
.x6{left:407.305783px;}
.x4{left:462.077955px;}
.x2{left:516.662399px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:-194.605714pt;}
.ws3{word-spacing:-1.372800pt;}
.ws2{word-spacing:-0.196114pt;}
.ws1{word-spacing:0.000000pt;}
._5{margin-left:-12.687086pt;}
._3{margin-left:-9.730286pt;}
._0{margin-left:-6.551726pt;}
._8{margin-left:-5.098971pt;}
._4{margin-left:-3.726171pt;}
._6{margin-left:-2.765211pt;}
._7{margin-left:-1.765029pt;}
._1{width:9.665417pt;}
._2{width:12.973714pt;}
.fs1{font-size:196.114286pt;}
.fs0{font-size:648.685714pt;}
.y0{bottom:82.666667pt;}
.y7{bottom:183.451200pt;}
.y6{bottom:559.559333pt;}
.y5{bottom:579.959333pt;}
.y4{bottom:603.026000pt;}
.y3{bottom:670.066400pt;}
.y2{bottom:724.733067pt;}
.y1{bottom:779.399733pt;}
.h3{height:141.202286pt;}
.h4{height:144.536229pt;}
.h2{height:520.245943pt;}
.h1{height:666.000000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:152.324933pt;}
.x1{left:170.441867pt;}
.x5{left:285.264000pt;}
.x7{left:295.499333pt;}
.x6{left:307.224933pt;}
.x4{left:348.538800pt;}
.x2{left:389.711067pt;}
}
