.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:auto;margin-bottom:auto} .ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.072000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.184000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.959000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.091000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.771000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.959000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-ms-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-webkit-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);}
.v0{vertical-align:0.000000px;}
.lsd{letter-spacing:-6.400000px;}
.ls4{letter-spacing:-5.060000px;}
.ls6{letter-spacing:-4.840000px;}
.ls5{letter-spacing:-4.400000px;}
.lsc{letter-spacing:-4.000000px;}
.ls7{letter-spacing:-3.300000px;}
.ls2{letter-spacing:-3.080000px;}
.ls18{letter-spacing:-2.860000px;}
.ls19{letter-spacing:-2.640000px;}
.ls1a{letter-spacing:-2.420000px;}
.ls10{letter-spacing:-2.200000px;}
.lse{letter-spacing:-1.980000px;}
.ls11{letter-spacing:-1.760000px;}
.ls0{letter-spacing:-1.700000px;}
.lsf{letter-spacing:-1.320000px;}
.ls14{letter-spacing:-1.100000px;}
.ls12{letter-spacing:-0.880000px;}
.ls1b{letter-spacing:-0.660000px;}
.ls3{letter-spacing:-0.440000px;}
.ls13{letter-spacing:-0.220000px;}
.ls1{letter-spacing:0.000000px;}
.lsa{letter-spacing:0.220000px;}
.ls8{letter-spacing:0.440000px;}
.lsb{letter-spacing:0.660000px;}
.ls17{letter-spacing:0.880000px;}
.ls15{letter-spacing:1.540000px;}
.ls9{letter-spacing:1.760000px;}
.ls16{letter-spacing:2.420000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-61.880000px;}
.ws1d{word-spacing:-58.300000px;}
.ws1e{word-spacing:-57.860000px;}
.ws2{word-spacing:-12.100000px;}
.wsc{word-spacing:-11.660000px;}
.ws14{word-spacing:-8.360000px;}
.ws16{word-spacing:-2.420000px;}
.ws1f{word-spacing:-1.760000px;}
.ws1b{word-spacing:-1.540000px;}
.ws1a{word-spacing:-0.880000px;}
.ws11{word-spacing:-0.660000px;}
.wse{word-spacing:-0.440000px;}
.ws13{word-spacing:-0.220000px;}
.ws0{word-spacing:0.000000px;}
.ws10{word-spacing:0.220000px;}
.ws3{word-spacing:0.440000px;}
.ws1c{word-spacing:0.660000px;}
.wsd{word-spacing:0.880000px;}
.ws12{word-spacing:1.100000px;}
.ws9{word-spacing:1.320000px;}
.wsb{word-spacing:1.760000px;}
.ws8{word-spacing:1.980000px;}
.wsa{word-spacing:2.200000px;}
.ws19{word-spacing:2.420000px;}
.ws18{word-spacing:2.640000px;}
.ws17{word-spacing:2.860000px;}
.ws7{word-spacing:3.300000px;}
.ws5{word-spacing:4.400000px;}
.ws6{word-spacing:4.840000px;}
.ws4{word-spacing:5.060000px;}
.ws15{word-spacing:9.900000px;}
.wsf{word-spacing:14.520000px;}
._14{margin-left:-44.160000px;}
._13{margin-left:-34.720000px;}
._0{margin-left:-25.840000px;}
._1f{margin-left:-24.366000px;}
._3{margin-left:-20.748000px;}
._a{margin-left:-19.310000px;}
._1e{margin-left:-18.108000px;}
._e{margin-left:-16.632000px;}
._f{margin-left:-15.246000px;}
._2{margin-left:-13.600000px;}
._b{margin-left:-12.344000px;}
._5{margin-left:-11.200000px;}
._19{margin-left:-9.986000px;}
._d{margin-left:-8.800000px;}
._7{margin-left:-7.800000px;}
._6{margin-left:-5.820000px;}
._1{margin-left:-4.420000px;}
._4{margin-left:-2.604000px;}
._9{margin-left:-1.136000px;}
._c{width:1.372000px;}
._8{width:2.948000px;}
._10{width:4.652000px;}
._18{width:5.692000px;}
._12{width:6.704000px;}
._15{width:8.316000px;}
._16{width:9.614000px;}
._11{width:11.286000px;}
._1c{width:12.696000px;}
._1b{width:13.772000px;}
._17{width:15.004000px;}
._1a{width:16.016000px;}
._1d{width:17.672000px;}
.fc2{color:rgb(53,100,184);}
.fc1{color:rgb(35,31,32);}
.fc0{color:rgb(37,77,127);}
.fs6{font-size:160.000000px;}
.fs2{font-size:200.000000px;}
.fs4{font-size:220.000000px;}
.fs5{font-size:240.000000px;}
.fs3{font-size:260.000000px;}
.fs1{font-size:280.000000px;}
.fs0{font-size:340.000000px;}
.y60{bottom:110.843939px;}
.y17{bottom:122.091136px;}
.y42{bottom:127.159596px;}
.y5f{bottom:140.535606px;}
.y16{bottom:151.782803px;}
.y41{bottom:156.851263px;}
.y5e{bottom:170.227273px;}
.y15{bottom:181.474470px;}
.y40{bottom:186.542929px;}
.y5d{bottom:199.918939px;}
.y14{bottom:211.166136px;}
.y3f{bottom:216.234596px;}
.y5c{bottom:229.610606px;}
.y13{bottom:240.857803px;}
.y3e{bottom:245.926263px;}
.y5b{bottom:259.302273px;}
.y12{bottom:270.549470px;}
.y3d{bottom:275.617929px;}
.y5a{bottom:288.993939px;}
.y3c{bottom:305.309596px;}
.y11{bottom:310.852500px;}
.y59{bottom:318.685606px;}
.y3b{bottom:335.001263px;}
.y58{bottom:348.377273px;}
.y3a{bottom:364.692929px;}
.y10{bottom:375.924217px;}
.y57{bottom:378.068939px;}
.y7b{bottom:385.788384px;}
.y39{bottom:394.384596px;}
.y56{bottom:407.760606px;}
.y7a{bottom:415.480051px;}
.yf{bottom:416.232551px;}
.y38{bottom:424.076263px;}
.y55{bottom:437.452273px;}
.y79{bottom:445.171717px;}
.ye{bottom:445.924217px;}
.y37{bottom:453.767929px;}
.y54{bottom:467.143939px;}
.yd{bottom:475.615884px;}
.y36{bottom:483.459596px;}
.y61{bottom:486.994949px;}
.y78{bottom:489.018939px;}
.y53{bottom:496.835606px;}
.yc{bottom:505.307551px;}
.y35{bottom:513.151263px;}
.y77{bottom:518.710606px;}
.y52{bottom:526.527273px;}
.yb{bottom:534.999217px;}
.y34{bottom:542.842929px;}
.y76{bottom:548.402273px;}
.y51{bottom:556.218939px;}
.ya{bottom:564.690884px;}
.y33{bottom:572.534596px;}
.y50{bottom:585.910606px;}
.y75{bottom:592.249495px;}
.y32{bottom:602.226263px;}
.y9{bottom:604.993914px;}
.y4f{bottom:615.602273px;}
.y74{bottom:621.941162px;}
.y31{bottom:631.917929px;}
.y4e{bottom:645.293939px;}
.y73{bottom:651.632828px;}
.y30{bottom:661.609596px;}
.y4d{bottom:674.985606px;}
.y2f{bottom:691.301263px;}
.y72{bottom:695.480051px;}
.y4c{bottom:704.677273px;}
.y2e{bottom:720.992929px;}
.y71{bottom:725.171717px;}
.y4b{bottom:734.368939px;}
.y2d{bottom:750.684596px;}
.y70{bottom:754.863384px;}
.y4a{bottom:764.060606px;}
.y2c{bottom:780.376263px;}
.y6f{bottom:784.555051px;}
.y49{bottom:793.752273px;}
.y8{bottom:802.450833px;}
.y2b{bottom:810.067929px;}
.y48{bottom:823.443939px;}
.y7{bottom:827.198308px;}
.y6e{bottom:828.402273px;}
.y2a{bottom:839.759596px;}
.y47{bottom:853.135606px;}
.y6d{bottom:858.093939px;}
.y29{bottom:869.451263px;}
.y46{bottom:882.827273px;}
.y6{bottom:887.056793px;}
.y28{bottom:899.142929px;}
.y6c{bottom:901.941162px;}
.y45{bottom:912.518939px;}
.y5{bottom:918.882045px;}
.y3{bottom:924.566717px;}
.y27{bottom:928.834596px;}
.y6b{bottom:931.632828px;}
.y44{bottom:942.210606px;}
.y4{bottom:950.707298px;}
.y26{bottom:958.526263px;}
.y2{bottom:970.513939px;}
.y6a{bottom:975.480051px;}
.y0{bottom:976.641414px;}
.y43{bottom:982.513636px;}
.y25{bottom:988.217929px;}
.y69{bottom:1005.171717px;}
.y1{bottom:1016.461162px;}
.y24{bottom:1017.909596px;}
.y68{bottom:1034.863384px;}
.y23{bottom:1047.601263px;}
.y22{bottom:1077.292929px;}
.y67{bottom:1078.710606px;}
.y21{bottom:1106.984596px;}
.y66{bottom:1108.402273px;}
.y20{bottom:1136.676263px;}
.y65{bottom:1138.093939px;}
.y1f{bottom:1166.367929px;}
.y64{bottom:1167.785606px;}
.y1e{bottom:1196.059596px;}
.y63{bottom:1211.632828px;}
.y1d{bottom:1225.751263px;}
.y62{bottom:1251.935859px;}
.y1c{bottom:1255.442929px;}
.y18{bottom:1316.919192px;}
.y1b{bottom:1317.789419px;}
.y19{bottom:1321.791439px;}
.y1a{bottom:1333.698510px;}
.h1{height:12.373737px;}
.h9{height:27.398990px;}
.hb{height:122.560000px;}
.h4{height:145.400000px;}
.h6{height:159.940000px;}
.ha{height:169.440000px;}
.h7{height:188.980000px;}
.h8{height:209.440000px;}
.h5{height:247.520000px;}
.h3{height:266.560000px;}
.h2{height:319.940000px;}
.hc{height:857.323232px;}
.h0{height:1400.000000px;}
.w1{width:1.767677px;}
.w2{width:833.459596px;}
.w0{width:1081.818182px;}
.x0{left:0.000000px;}
.x9{left:100.214722px;}
.xa{left:125.268359px;}
.x3{left:211.799495px;}
.x5{left:220.423283px;}
.x1{left:277.760354px;}
.x4{left:293.180859px;}
.x2{left:301.500253px;}
.x6{left:332.207626px;}
.xd{left:598.955530px;}
.xe{left:702.216136px;}
.x7{left:724.504419px;}
.x8{left:859.307449px;}
.xb{left:931.565657px;}
.xc{left:941.483561px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsd{letter-spacing:-4.827429pt;}
.ls4{letter-spacing:-3.816686pt;}
.ls6{letter-spacing:-3.650743pt;}
.ls5{letter-spacing:-3.318857pt;}
.lsc{letter-spacing:-3.017143pt;}
.ls7{letter-spacing:-2.489143pt;}
.ls2{letter-spacing:-2.323200pt;}
.ls18{letter-spacing:-2.157257pt;}
.ls19{letter-spacing:-1.991314pt;}
.ls1a{letter-spacing:-1.825371pt;}
.ls10{letter-spacing:-1.659429pt;}
.lse{letter-spacing:-1.493486pt;}
.ls11{letter-spacing:-1.327543pt;}
.ls0{letter-spacing:-1.282286pt;}
.lsf{letter-spacing:-0.995657pt;}
.ls14{letter-spacing:-0.829714pt;}
.ls12{letter-spacing:-0.663771pt;}
.ls1b{letter-spacing:-0.497829pt;}
.ls3{letter-spacing:-0.331886pt;}
.ls13{letter-spacing:-0.165943pt;}
.ls1{letter-spacing:0.000000pt;}
.lsa{letter-spacing:0.165943pt;}
.ls8{letter-spacing:0.331886pt;}
.lsb{letter-spacing:0.497829pt;}
.ls17{letter-spacing:0.663771pt;}
.ls15{letter-spacing:1.161600pt;}
.ls9{letter-spacing:1.327543pt;}
.ls16{letter-spacing:1.825371pt;}
.ws1{word-spacing:-46.675200pt;}
.ws1d{word-spacing:-43.974857pt;}
.ws1e{word-spacing:-43.642971pt;}
.ws2{word-spacing:-9.126857pt;}
.wsc{word-spacing:-8.794971pt;}
.ws14{word-spacing:-6.305829pt;}
.ws16{word-spacing:-1.825371pt;}
.ws1f{word-spacing:-1.327543pt;}
.ws1b{word-spacing:-1.161600pt;}
.ws1a{word-spacing:-0.663771pt;}
.ws11{word-spacing:-0.497829pt;}
.wse{word-spacing:-0.331886pt;}
.ws13{word-spacing:-0.165943pt;}
.ws0{word-spacing:0.000000pt;}
.ws10{word-spacing:0.165943pt;}
.ws3{word-spacing:0.331886pt;}
.ws1c{word-spacing:0.497829pt;}
.wsd{word-spacing:0.663771pt;}
.ws12{word-spacing:0.829714pt;}
.ws9{word-spacing:0.995657pt;}
.wsb{word-spacing:1.327543pt;}
.ws8{word-spacing:1.493486pt;}
.wsa{word-spacing:1.659429pt;}
.ws19{word-spacing:1.825371pt;}
.ws18{word-spacing:1.991314pt;}
.ws17{word-spacing:2.157257pt;}
.ws7{word-spacing:2.489143pt;}
.ws5{word-spacing:3.318857pt;}
.ws6{word-spacing:3.650743pt;}
.ws4{word-spacing:3.816686pt;}
.ws15{word-spacing:7.467429pt;}
.wsf{word-spacing:10.952229pt;}
._14{margin-left:-33.309257pt;}
._13{margin-left:-26.188800pt;}
._0{margin-left:-19.490743pt;}
._1f{margin-left:-18.378926pt;}
._3{margin-left:-15.649920pt;}
._a{margin-left:-14.565257pt;}
._1e{margin-left:-13.658606pt;}
._e{margin-left:-12.545280pt;}
._f{margin-left:-11.499840pt;}
._2{margin-left:-10.258286pt;}
._b{margin-left:-9.310903pt;}
._5{margin-left:-8.448000pt;}
._19{margin-left:-7.532297pt;}
._d{margin-left:-6.637714pt;}
._7{margin-left:-5.883429pt;}
._6{margin-left:-4.389943pt;}
._1{margin-left:-3.333943pt;}
._4{margin-left:-1.964160pt;}
._9{margin-left:-0.856869pt;}
._c{width:1.034880pt;}
._8{width:2.223634pt;}
._10{width:3.508937pt;}
._18{width:4.293394pt;}
._12{width:5.056731pt;}
._15{width:6.272640pt;}
._16{width:7.251703pt;}
._11{width:8.512869pt;}
._1c{width:9.576411pt;}
._1b{width:10.388023pt;}
._17{width:11.317303pt;}
._1a{width:12.080640pt;}
._1d{width:13.329737pt;}
.fs6{font-size:120.685714pt;}
.fs2{font-size:150.857143pt;}
.fs4{font-size:165.942857pt;}
.fs5{font-size:181.028571pt;}
.fs3{font-size:196.114286pt;}
.fs1{font-size:211.200000pt;}
.fs0{font-size:256.457143pt;}
.y60{bottom:83.608000pt;}
.y17{bottom:92.091600pt;}
.y42{bottom:95.914667pt;}
.y5f{bottom:106.004000pt;}
.y16{bottom:114.487600pt;}
.y41{bottom:118.310667pt;}
.y5e{bottom:128.400000pt;}
.y15{bottom:136.883600pt;}
.y40{bottom:140.706667pt;}
.y5d{bottom:150.796000pt;}
.y14{bottom:159.279600pt;}
.y3f{bottom:163.102667pt;}
.y5c{bottom:173.192000pt;}
.y13{bottom:181.675600pt;}
.y3e{bottom:185.498667pt;}
.y5b{bottom:195.588000pt;}
.y12{bottom:204.071600pt;}
.y3d{bottom:207.894667pt;}
.y5a{bottom:217.984000pt;}
.y3c{bottom:230.290667pt;}
.y11{bottom:234.471600pt;}
.y59{bottom:240.380000pt;}
.y3b{bottom:252.686667pt;}
.y58{bottom:262.776000pt;}
.y3a{bottom:275.082667pt;}
.y10{bottom:283.554267pt;}
.y57{bottom:285.172000pt;}
.y7b{bottom:290.994667pt;}
.y39{bottom:297.478667pt;}
.y56{bottom:307.568000pt;}
.y7a{bottom:313.390667pt;}
.yf{bottom:313.958267pt;}
.y38{bottom:319.874667pt;}
.y55{bottom:329.964000pt;}
.y79{bottom:335.786667pt;}
.ye{bottom:336.354267pt;}
.y37{bottom:342.270667pt;}
.y54{bottom:352.360000pt;}
.yd{bottom:358.750267pt;}
.y36{bottom:364.666667pt;}
.y61{bottom:367.333333pt;}
.y78{bottom:368.860000pt;}
.y53{bottom:374.756000pt;}
.yc{bottom:381.146267pt;}
.y35{bottom:387.062667pt;}
.y77{bottom:391.256000pt;}
.y52{bottom:397.152000pt;}
.yb{bottom:403.542267pt;}
.y34{bottom:409.458667pt;}
.y76{bottom:413.652000pt;}
.y51{bottom:419.548000pt;}
.ya{bottom:425.938267pt;}
.y33{bottom:431.854667pt;}
.y50{bottom:441.944000pt;}
.y75{bottom:446.725333pt;}
.y32{bottom:454.250667pt;}
.y9{bottom:456.338267pt;}
.y4f{bottom:464.340000pt;}
.y74{bottom:469.121333pt;}
.y31{bottom:476.646667pt;}
.y4e{bottom:486.736000pt;}
.y73{bottom:491.517333pt;}
.y30{bottom:499.042667pt;}
.y4d{bottom:509.132000pt;}
.y2f{bottom:521.438667pt;}
.y72{bottom:524.590667pt;}
.y4c{bottom:531.528000pt;}
.y2e{bottom:543.834667pt;}
.y71{bottom:546.986667pt;}
.y4b{bottom:553.924000pt;}
.y2d{bottom:566.230667pt;}
.y70{bottom:569.382667pt;}
.y4a{bottom:576.320000pt;}
.y2c{bottom:588.626667pt;}
.y6f{bottom:591.778667pt;}
.y49{bottom:598.716000pt;}
.y8{bottom:605.277200pt;}
.y2b{bottom:611.022667pt;}
.y48{bottom:621.112000pt;}
.y7{bottom:623.943867pt;}
.y6e{bottom:624.852000pt;}
.y2a{bottom:633.418667pt;}
.y47{bottom:643.508000pt;}
.y6d{bottom:647.248000pt;}
.y29{bottom:655.814667pt;}
.y46{bottom:665.904000pt;}
.y6{bottom:669.094267pt;}
.y28{bottom:678.210667pt;}
.y6c{bottom:680.321333pt;}
.y45{bottom:688.300000pt;}
.y5{bottom:693.099600pt;}
.y3{bottom:697.387467pt;}
.y27{bottom:700.606667pt;}
.y6b{bottom:702.717333pt;}
.y44{bottom:710.696000pt;}
.y4{bottom:717.104933pt;}
.y26{bottom:723.002667pt;}
.y2{bottom:732.044800pt;}
.y6a{bottom:735.790667pt;}
.y0{bottom:736.666667pt;}
.y43{bottom:741.096000pt;}
.y25{bottom:745.398667pt;}
.y69{bottom:758.186667pt;}
.y1{bottom:766.702133pt;}
.y24{bottom:767.794667pt;}
.y68{bottom:780.582667pt;}
.y23{bottom:790.190667pt;}
.y22{bottom:812.586667pt;}
.y67{bottom:813.656000pt;}
.y21{bottom:834.982667pt;}
.y66{bottom:836.052000pt;}
.y20{bottom:857.378667pt;}
.y65{bottom:858.448000pt;}
.y1f{bottom:879.774667pt;}
.y64{bottom:880.844000pt;}
.y1e{bottom:902.170667pt;}
.y63{bottom:913.917333pt;}
.y1d{bottom:924.566667pt;}
.y62{bottom:944.317333pt;}
.y1c{bottom:946.962667pt;}
.y18{bottom:993.333333pt;}
.y1b{bottom:993.989733pt;}
.y19{bottom:997.008400pt;}
.y1a{bottom:1005.989733pt;}
.h1{height:9.333333pt;}
.h9{height:20.666667pt;}
.hb{height:92.445257pt;}
.h4{height:109.673143pt;}
.h6{height:120.640457pt;}
.ha{height:127.806171pt;}
.h7{height:142.544914pt;}
.h8{height:157.977600pt;}
.h5{height:186.700800pt;}
.h3{height:201.062400pt;}
.h2{height:241.326171pt;}
.hc{height:646.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:1.333333pt;}
.w2{width:628.666667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x9{left:75.590533pt;}
.xa{left:94.488133pt;}
.x3{left:159.757333pt;}
.x5{left:166.262133pt;}
.x1{left:209.510667pt;}
.x4{left:221.142133pt;}
.x2{left:227.417333pt;}
.x6{left:250.579467pt;}
.xd{left:451.783600pt;}
.xe{left:529.671600pt;}
.x7{left:546.483333pt;}
.x8{left:648.163333pt;}
.xb{left:702.666667pt;}
.xc{left:710.147600pt;}
}
