.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:auto;margin-bottom:auto} .ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.691406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.332520;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.313477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.112305;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-ms-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-webkit-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-2.400000px;}
.ls1{letter-spacing:-2.040000px;}
.lse{letter-spacing:-0.874000px;}
.ls0{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.364000px;}
.lsa{letter-spacing:0.720000px;}
.lsd{letter-spacing:0.873600px;}
.lsc{letter-spacing:0.874000px;}
.ls6{letter-spacing:1.018000px;}
.ls4{letter-spacing:55.200000px;}
.ls9{letter-spacing:62.400000px;}
.ls2{letter-spacing:64.800000px;}
.ls3{letter-spacing:69.600000px;}
.ls7{letter-spacing:81.600000px;}
.ls8{letter-spacing:91.200000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws60{word-spacing:-56.218000px;}
.ws80{word-spacing:-56.074000px;}
.ws5e{word-spacing:-55.564000px;}
.ws51{word-spacing:-55.200000px;}
.ws7f{word-spacing:-54.326000px;}
.ws4{word-spacing:-2.633600px;}
.ws2{word-spacing:-2.595200px;}
.ws12{word-spacing:-2.428800px;}
.ws5{word-spacing:-2.336000px;}
.ws7a{word-spacing:-2.172800px;}
.ws19{word-spacing:-1.987200px;}
.ws75{word-spacing:-1.836800px;}
.ws6a{word-spacing:-1.766400px;}
.ws67{word-spacing:-1.721600px;}
.ws4d{word-spacing:-1.718400px;}
.ws79{word-spacing:-1.670400px;}
.ws73{word-spacing:-1.664000px;}
.ws64{word-spacing:-1.558400px;}
.ws4b{word-spacing:-1.545600px;}
.ws82{word-spacing:-1.459200px;}
.ws3e{word-spacing:-1.324800px;}
.ws27{word-spacing:-1.299200px;}
.ws13{word-spacing:-1.116800px;}
.ws6f{word-spacing:-0.720000px;}
.ws1{word-spacing:0.000000px;}
.ws23{word-spacing:0.220800px;}
.ws3{word-spacing:0.577600px;}
.ws0{word-spacing:0.720000px;}
.ws37{word-spacing:0.822400px;}
.ws7b{word-spacing:0.832000px;}
.ws7e{word-spacing:0.883200px;}
.ws7c{word-spacing:1.104000px;}
.ws28{word-spacing:1.190400px;}
.ws22{word-spacing:1.657600px;}
.ws6{word-spacing:2.208000px;}
.ws7d{word-spacing:2.400000px;}
.ws14{word-spacing:2.649600px;}
.ws62{word-spacing:3.273600px;}
.ws56{word-spacing:4.195200px;}
.wse{word-spacing:4.636800px;}
.ws40{word-spacing:4.857600px;}
.ws46{word-spacing:5.078400px;}
.ws57{word-spacing:6.844800px;}
.ws2c{word-spacing:7.065600px;}
.ws36{word-spacing:7.286400px;}
.ws53{word-spacing:7.728000px;}
.ws4c{word-spacing:9.273600px;}
.ws3f{word-spacing:9.715200px;}
.ws29{word-spacing:9.936000px;}
.ws65{word-spacing:10.598400px;}
.ws18{word-spacing:11.702400px;}
.ws10{word-spacing:12.144000px;}
.ws59{word-spacing:12.364800px;}
.ws8{word-spacing:14.131200px;}
.ws25{word-spacing:14.572800px;}
.ws4a{word-spacing:14.793600px;}
.ws20{word-spacing:16.560000px;}
.ws1c{word-spacing:17.001600px;}
.ws52{word-spacing:18.988800px;}
.ws1d{word-spacing:19.430400px;}
.wsd{word-spacing:21.417600px;}
.ws26{word-spacing:21.638400px;}
.wsa{word-spacing:21.859200px;}
.ws43{word-spacing:22.300800px;}
.ws1f{word-spacing:23.846400px;}
.ws2f{word-spacing:24.067200px;}
.ws68{word-spacing:24.288000px;}
.ws5d{word-spacing:24.729600px;}
.ws17{word-spacing:26.275200px;}
.wsb{word-spacing:26.496000px;}
.ws4e{word-spacing:26.716800px;}
.ws50{word-spacing:28.483200px;}
.ws39{word-spacing:28.924800px;}
.ws41{word-spacing:29.145600px;}
.ws81{word-spacing:30.470400px;}
.ws4f{word-spacing:30.912000px;}
.ws7{word-spacing:31.353600px;}
.ws16{word-spacing:31.574400px;}
.ws3b{word-spacing:33.340800px;}
.ws21{word-spacing:33.782400px;}
.ws44{word-spacing:35.769600px;}
.ws3c{word-spacing:36.211200px;}
.ws15{word-spacing:38.198400px;}
.ws9{word-spacing:38.640000px;}
.ws78{word-spacing:40.627200px;}
.ws30{word-spacing:40.848000px;}
.ws74{word-spacing:41.068800px;}
.ws72{word-spacing:41.164800px;}
.ws5b{word-spacing:43.276800px;}
.ws76{word-spacing:43.497600px;}
.wsf{word-spacing:45.484800px;}
.ws2b{word-spacing:45.705600px;}
.ws63{word-spacing:47.692800px;}
.ws1a{word-spacing:48.134400px;}
.ws48{word-spacing:48.355200px;}
.ws70{word-spacing:48.873600px;}
.ws32{word-spacing:50.563200px;}
.ws2d{word-spacing:50.784000px;}
.ws58{word-spacing:52.550400px;}
.ws6d{word-spacing:52.800000px;}
.ws2a{word-spacing:52.992000px;}
.ws2e{word-spacing:53.315200px;}
.ws35{word-spacing:53.324800px;}
.ws1e{word-spacing:53.654400px;}
.ws71{word-spacing:55.200000px;}
.ws42{word-spacing:55.420800px;}
.ws47{word-spacing:56.212800px;}
.ws54{word-spacing:57.849600px;}
.ws45{word-spacing:60.057600px;}
.ws6b{word-spacing:60.278400px;}
.ws5f{word-spacing:62.265600px;}
.ws38{word-spacing:62.486400px;}
.ws34{word-spacing:62.928000px;}
.ws3a{word-spacing:64.915200px;}
.ws66{word-spacing:66.902400px;}
.ws3d{word-spacing:67.344000px;}
.ws24{word-spacing:69.772800px;}
.ws5a{word-spacing:69.993600px;}
.ws1b{word-spacing:72.201600px;}
.ws6c{word-spacing:74.188800px;}
.ws49{word-spacing:74.630400px;}
.ws6e{word-spacing:76.617600px;}
.ws5c{word-spacing:81.475200px;}
.ws77{word-spacing:81.696000px;}
.ws33{word-spacing:83.683200px;}
.ws69{word-spacing:84.124800px;}
.ws31{word-spacing:84.345600px;}
.wsc{word-spacing:86.553600px;}
.ws55{word-spacing:91.411200px;}
.ws11{word-spacing:93.840000px;}
.ws61{word-spacing:149.040000px;}
._6d{margin-left:-30.028800px;}
._6c{margin-left:-23.377600px;}
._66{margin-left:-21.529600px;}
._67{margin-left:-19.043200px;}
._68{margin-left:-17.340800px;}
._69{margin-left:-16.267200px;}
._6f{margin-left:-15.056000px;}
._65{margin-left:-12.556800px;}
._6a{margin-left:-11.068800px;}
._6e{margin-left:-7.507200px;}
._6b{margin-left:-6.433600px;}
._9{margin-left:-4.636800px;}
._6{margin-left:-3.532800px;}
._1{margin-left:-2.428800px;}
._2{margin-left:-1.104000px;}
._5{width:1.324800px;}
._4{width:3.091200px;}
._1d{width:4.244800px;}
._22{width:5.523200px;}
._13{width:7.150400px;}
._38{width:9.276800px;}
._2c{width:10.668800px;}
._5c{width:12.585600px;}
._5a{width:14.572800px;}
._60{width:16.339200px;}
._4a{width:17.443200px;}
._3d{width:19.209600px;}
._3b{width:20.313600px;}
._3c{width:22.300800px;}
._55{width:24.288000px;}
._4e{width:26.579200px;}
._40{width:28.400000px;}
._4f{width:29.782400px;}
._3e{width:30.822400px;}
._3f{width:32.326400px;}
._48{width:33.740800px;}
._47{width:34.796800px;}
._46{width:36.432000px;}
._62{width:39.964800px;}
._61{width:41.510400px;}
._63{width:42.614400px;}
._64{width:44.160000px;}
._5f{width:46.368000px;}
._5e{width:47.692800px;}
._51{width:49.459200px;}
._58{width:50.563200px;}
._8{width:51.888000px;}
._3{width:53.212800px;}
._0{width:54.240000px;}
._b{width:55.862400px;}
._18{width:57.408000px;}
._a{width:58.732800px;}
._7{width:60.560000px;}
._54{width:61.603200px;}
._2a{width:62.867200px;}
._30{width:64.252800px;}
._39{width:65.356800px;}
._10{width:66.460800px;}
._2d{width:67.564800px;}
._1b{width:68.668800px;}
._e{width:70.435200px;}
._d{width:72.422400px;}
._f{width:73.526400px;}
._17{width:75.292800px;}
._20{width:77.318400px;}
._14{width:78.384000px;}
._15{width:80.371200px;}
._49{width:81.696000px;}
._1f{width:82.800000px;}
._c{width:84.566400px;}
._44{width:85.670400px;}
._29{width:86.774400px;}
._4b{width:88.465600px;}
._42{width:89.644800px;}
._12{width:90.748800px;}
._11{width:92.294400px;}
._32{width:93.398400px;}
._1e{width:94.723200px;}
._27{width:96.048000px;}
._21{width:97.372800px;}
._19{width:98.697600px;}
._23{width:100.243200px;}
._1a{width:102.230400px;}
._52{width:103.776000px;}
._31{width:104.776000px;}
._2f{width:105.984000px;}
._26{width:107.529600px;}
._2e{width:109.345600px;}
._28{width:111.147200px;}
._3a{width:112.238400px;}
._45{width:113.419200px;}
._37{width:115.036800px;}
._36{width:116.582400px;}
._41{width:118.348800px;}
._35{width:120.556800px;}
._50{width:123.206400px;}
._59{width:124.310400px;}
._24{width:125.635200px;}
._2b{width:127.401600px;}
._25{width:128.947200px;}
._43{width:130.272000px;}
._5b{width:132.027200px;}
._5d{width:133.374400px;}
._53{width:135.129600px;}
._33{width:137.116800px;}
._16{width:139.545600px;}
._34{width:141.753600px;}
._4d{width:143.520000px;}
._4c{width:144.624000px;}
._1c{width:150.582400px;}
._57{width:201.590400px;}
._56{width:202.915200px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:220.800000px;}
.fs0{font-size:240.000000px;}
.y2{bottom:5.727273px;}
.y1{bottom:63.424242px;}
.y0{bottom:69.151515px;}
.y49{bottom:138.557576px;}
.y35{bottom:138.981818px;}
.y48{bottom:160.830303px;}
.y34{bottom:161.254545px;}
.y47{bottom:183.308081px;}
.y33{bottom:183.732323px;}
.y32{bottom:206.005051px;}
.y31{bottom:228.277778px;}
.y3e{bottom:250.338384px;}
.y30{bottom:250.762626px;}
.y3d{bottom:272.611111px;}
.y2f{bottom:273.035354px;}
.y41{bottom:295.095960px;}
.y2e{bottom:295.520202px;}
.y4d{bottom:317.368687px;}
.y2d{bottom:317.792929px;}
.y4c{bottom:339.641414px;}
.y2c{bottom:340.065657px;}
.y4b{bottom:362.126263px;}
.y2b{bottom:362.550505px;}
.y4a{bottom:384.452020px;}
.y2a{bottom:384.876263px;}
.y29{bottom:407.361111px;}
.y28{bottom:429.633838px;}
.y27{bottom:451.906566px;}
.y26{bottom:474.391414px;}
.y25{bottom:496.664141px;}
.y24{bottom:519.148990px;}
.y23{bottom:541.421717px;}
.y22{bottom:563.906566px;}
.y46{bottom:585.755051px;}
.y21{bottom:586.179293px;}
.y20{bottom:608.027778px;}
.y40{bottom:608.452020px;}
.y1f{bottom:630.512626px;}
.y3f{bottom:630.936869px;}
.y1e{bottom:653.209596px;}
.y1d{bottom:675.729798px;}
.y1c{bottom:698.002525px;}
.y1b{bottom:720.275253px;}
.y1a{bottom:742.760101px;}
.y19{bottom:765.032828px;}
.y18{bottom:787.517677px;}
.y17{bottom:809.790404px;}
.y42{bottom:831.638889px;}
.y16{bottom:832.063131px;}
.y15{bottom:854.547980px;}
.y14{bottom:876.820707px;}
.y13{bottom:899.305556px;}
.y12{bottom:921.578283px;}
.y11{bottom:943.851010px;}
.y10{bottom:966.388889px;}
.yf{bottom:988.661616px;}
.ye{bottom:1010.722222px;}
.y3c{bottom:1011.146465px;}
.yd{bottom:1032.994949px;}
.y3b{bottom:1033.419192px;}
.y45{bottom:1055.267677px;}
.yc{bottom:1055.691919px;}
.y44{bottom:1077.752525px;}
.yb{bottom:1078.176768px;}
.y43{bottom:1100.025253px;}
.ya{bottom:1100.449495px;}
.y9{bottom:1122.510101px;}
.y3a{bottom:1122.934343px;}
.y8{bottom:1144.782828px;}
.y39{bottom:1145.207071px;}
.y7{bottom:1167.691919px;}
.y6{bottom:1189.964646px;}
.y5{bottom:1211.813131px;}
.y38{bottom:1212.237374px;}
.y4{bottom:1234.297980px;}
.y37{bottom:1234.722222px;}
.y3{bottom:1256.570707px;}
.y36{bottom:1256.994949px;}
.h2{height:25.931818px;}
.h7{height:153.309375px;}
.h1{height:163.710938px;}
.h6{height:197.943750px;}
.h5{height:222.309375px;}
.h4{height:225.975000px;}
.h3{height:226.514062px;}
.h0{height:1400.000000px;}
.w1{width:10.606061px;}
.w2{width:21.636364px;}
.w0{width:1081.818182px;}
.x2{left:0.000000px;}
.x0{left:125.406061px;}
.x3{left:530.179293px;}
.x1{left:535.694444px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsb{letter-spacing:-1.810286pt;}
.ls1{letter-spacing:-1.538743pt;}
.lse{letter-spacing:-0.659246pt;}
.ls0{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.274560pt;}
.lsa{letter-spacing:0.543086pt;}
.lsd{letter-spacing:0.658944pt;}
.lsc{letter-spacing:0.659246pt;}
.ls6{letter-spacing:0.767863pt;}
.ls4{letter-spacing:41.636571pt;}
.ls9{letter-spacing:47.067429pt;}
.ls2{letter-spacing:48.877714pt;}
.ls3{letter-spacing:52.498286pt;}
.ls7{letter-spacing:61.549714pt;}
.ls8{letter-spacing:68.790857pt;}
.ws60{word-spacing:-42.404434pt;}
.ws80{word-spacing:-42.295817pt;}
.ws5e{word-spacing:-41.911131pt;}
.ws51{word-spacing:-41.636571pt;}
.ws7f{word-spacing:-40.977326pt;}
.ws4{word-spacing:-1.986487pt;}
.ws2{word-spacing:-1.957522pt;}
.ws12{word-spacing:-1.832009pt;}
.ws5{word-spacing:-1.762011pt;}
.ws7a{word-spacing:-1.638912pt;}
.ws19{word-spacing:-1.498917pt;}
.ws75{word-spacing:-1.385472pt;}
.ws6a{word-spacing:-1.332370pt;}
.ws67{word-spacing:-1.298578pt;}
.ws4d{word-spacing:-1.296165pt;}
.ws79{word-spacing:-1.259959pt;}
.ws73{word-spacing:-1.255131pt;}
.ws64{word-spacing:-1.175479pt;}
.ws4b{word-spacing:-1.165824pt;}
.ws82{word-spacing:-1.100654pt;}
.ws3e{word-spacing:-0.999278pt;}
.ws27{word-spacing:-0.979968pt;}
.ws13{word-spacing:-0.842386pt;}
.ws6f{word-spacing:-0.543086pt;}
.ws1{word-spacing:0.000000pt;}
.ws23{word-spacing:0.166546pt;}
.ws3{word-spacing:0.435675pt;}
.ws0{word-spacing:0.543086pt;}
.ws37{word-spacing:0.620325pt;}
.ws7b{word-spacing:0.627566pt;}
.ws7e{word-spacing:0.666185pt;}
.ws7c{word-spacing:0.832731pt;}
.ws28{word-spacing:0.897902pt;}
.ws22{word-spacing:1.250304pt;}
.ws6{word-spacing:1.665463pt;}
.ws7d{word-spacing:1.810286pt;}
.ws14{word-spacing:1.998555pt;}
.ws62{word-spacing:2.469230pt;}
.ws56{word-spacing:3.164379pt;}
.wse{word-spacing:3.497472pt;}
.ws40{word-spacing:3.664018pt;}
.ws46{word-spacing:3.830565pt;}
.ws57{word-spacing:5.162935pt;}
.ws2c{word-spacing:5.329481pt;}
.ws36{word-spacing:5.496027pt;}
.ws53{word-spacing:5.829120pt;}
.ws4c{word-spacing:6.994944pt;}
.ws3f{word-spacing:7.328037pt;}
.ws29{word-spacing:7.494583pt;}
.ws65{word-spacing:7.994222pt;}
.ws18{word-spacing:8.826953pt;}
.ws10{word-spacing:9.160046pt;}
.ws59{word-spacing:9.326592pt;}
.ws8{word-spacing:10.658962pt;}
.ws25{word-spacing:10.992055pt;}
.ws4a{word-spacing:11.158601pt;}
.ws20{word-spacing:12.490971pt;}
.ws1c{word-spacing:12.824064pt;}
.ws52{word-spacing:14.322981pt;}
.ws1d{word-spacing:14.656073pt;}
.wsd{word-spacing:16.154990pt;}
.ws26{word-spacing:16.321536pt;}
.wsa{word-spacing:16.488082pt;}
.ws43{word-spacing:16.821175pt;}
.ws1f{word-spacing:17.986999pt;}
.ws2f{word-spacing:18.153545pt;}
.ws68{word-spacing:18.320091pt;}
.ws5d{word-spacing:18.653184pt;}
.ws17{word-spacing:19.819008pt;}
.wsb{word-spacing:19.985554pt;}
.ws4e{word-spacing:20.152101pt;}
.ws50{word-spacing:21.484471pt;}
.ws39{word-spacing:21.817563pt;}
.ws41{word-spacing:21.984110pt;}
.ws81{word-spacing:22.983387pt;}
.ws4f{word-spacing:23.316480pt;}
.ws7{word-spacing:23.649573pt;}
.ws16{word-spacing:23.816119pt;}
.ws3b{word-spacing:25.148489pt;}
.ws21{word-spacing:25.481582pt;}
.ws44{word-spacing:26.980498pt;}
.ws3c{word-spacing:27.313591pt;}
.ws15{word-spacing:28.812507pt;}
.ws9{word-spacing:29.145600pt;}
.ws78{word-spacing:30.644517pt;}
.ws30{word-spacing:30.811063pt;}
.ws74{word-spacing:30.977609pt;}
.ws72{word-spacing:31.050021pt;}
.ws5b{word-spacing:32.643072pt;}
.ws76{word-spacing:32.809618pt;}
.wsf{word-spacing:34.308535pt;}
.ws2b{word-spacing:34.475081pt;}
.ws63{word-spacing:35.973998pt;}
.ws1a{word-spacing:36.307090pt;}
.ws48{word-spacing:36.473637pt;}
.ws70{word-spacing:36.864658pt;}
.ws32{word-spacing:38.139099pt;}
.ws2d{word-spacing:38.305646pt;}
.ws58{word-spacing:39.638016pt;}
.ws6d{word-spacing:39.826286pt;}
.ws2a{word-spacing:39.971109pt;}
.ws2e{word-spacing:40.214894pt;}
.ws35{word-spacing:40.222135pt;}
.ws1e{word-spacing:40.470747pt;}
.ws71{word-spacing:41.636571pt;}
.ws42{word-spacing:41.803118pt;}
.ws47{word-spacing:42.400512pt;}
.ws54{word-spacing:43.635127pt;}
.ws45{word-spacing:45.300590pt;}
.ws6b{word-spacing:45.467136pt;}
.ws5f{word-spacing:46.966053pt;}
.ws38{word-spacing:47.132599pt;}
.ws34{word-spacing:47.465691pt;}
.ws3a{word-spacing:48.964608pt;}
.ws66{word-spacing:50.463525pt;}
.ws3d{word-spacing:50.796617pt;}
.ws24{word-spacing:52.628626pt;}
.ws5a{word-spacing:52.795173pt;}
.ws1b{word-spacing:54.460635pt;}
.ws6c{word-spacing:55.959552pt;}
.ws49{word-spacing:56.292645pt;}
.ws6e{word-spacing:57.791561pt;}
.ws5c{word-spacing:61.455579pt;}
.ws77{word-spacing:61.622126pt;}
.ws33{word-spacing:63.121042pt;}
.ws69{word-spacing:63.454135pt;}
.ws31{word-spacing:63.620681pt;}
.wsc{word-spacing:65.286144pt;}
.ws55{word-spacing:68.950162pt;}
.ws11{word-spacing:70.782171pt;}
.ws61{word-spacing:112.418743pt;}
._6d{margin-left:-22.650295pt;}
._6c{margin-left:-17.633390pt;}
._66{margin-left:-16.239470pt;}
._67{margin-left:-14.364014pt;}
._68{margin-left:-13.079918pt;}
._69{margin-left:-12.270117pt;}
._6f{margin-left:-11.356526pt;}
._65{margin-left:-9.471415pt;}
._6a{margin-left:-8.349038pt;}
._6e{margin-left:-5.662574pt;}
._6b{margin-left:-4.852773pt;}
._9{margin-left:-3.497472pt;}
._6{margin-left:-2.664741pt;}
._1{margin-left:-1.832009pt;}
._2{margin-left:-0.832731pt;}
._5{width:0.999278pt;}
._4{width:2.331648pt;}
._1d{width:3.201792pt;}
._22{width:4.166071pt;}
._13{width:5.393445pt;}
._38{width:6.997358pt;}
._2c{width:8.047323pt;}
._5c{width:9.493138pt;}
._5a{width:10.992055pt;}
._60{width:12.324425pt;}
._4a{width:13.157157pt;}
._3d{width:14.489527pt;}
._3b{width:15.322258pt;}
._3c{width:16.821175pt;}
._55{width:18.320091pt;}
._4e{width:20.048311pt;}
._40{width:21.421714pt;}
._4f{width:22.464439pt;}
._3e{width:23.248896pt;}
._3f{width:24.383342pt;}
._48{width:25.450203pt;}
._47{width:26.246729pt;}
._46{width:27.480137pt;}
._62{width:30.144878pt;}
._61{width:31.310702pt;}
._63{width:32.143433pt;}
._64{width:33.309257pt;}
._5f{width:34.974720pt;}
._5e{width:35.973998pt;}
._51{width:37.306368pt;}
._58{width:38.139099pt;}
._8{width:39.138377pt;}
._3{width:40.137655pt;}
._0{width:40.912457pt;}
._b{width:42.136210pt;}
._18{width:43.302034pt;}
._a{width:44.301312pt;}
._7{width:45.679543pt;}
._54{width:46.466414pt;}
._2a{width:47.419831pt;}
._30{width:48.464969pt;}
._39{width:49.297701pt;}
._10{width:50.130432pt;}
._2d{width:50.963163pt;}
._1b{width:51.795895pt;}
._e{width:53.128265pt;}
._d{width:54.627182pt;}
._f{width:55.459913pt;}
._17{width:56.792283pt;}
._20{width:58.320165pt;}
._14{width:59.123931pt;}
._15{width:60.622848pt;}
._49{width:61.622126pt;}
._1f{width:62.454857pt;}
._c{width:63.787227pt;}
._44{width:64.619959pt;}
._29{width:65.452690pt;}
._4b{width:66.728338pt;}
._42{width:67.617792pt;}
._12{width:68.450523pt;}
._11{width:69.616347pt;}
._32{width:70.449079pt;}
._1e{width:71.448357pt;}
._27{width:72.447634pt;}
._21{width:73.446912pt;}
._19{width:74.446190pt;}
._23{width:75.612014pt;}
._1a{width:77.110930pt;}
._52{width:78.276754pt;}
._31{width:79.031040pt;}
._2f{width:79.942217pt;}
._26{width:81.108041pt;}
._2e{width:82.477824pt;}
._28{width:83.836745pt;}
._3a{width:84.659822pt;}
._45{width:85.550482pt;}
._37{width:86.770615pt;}
._36{width:87.936439pt;}
._41{width:89.268809pt;}
._35{width:90.934272pt;}
._50{width:92.932827pt;}
._59{width:93.765559pt;}
._24{width:94.764837pt;}
._2b{width:96.097207pt;}
._25{width:97.263031pt;}
._43{width:98.262309pt;}
._5b{width:99.586231pt;}
._5d{width:100.602405pt;}
._53{width:101.926327pt;}
._33{width:103.425243pt;}
._16{width:105.257253pt;}
._34{width:106.922715pt;}
._4d{width:108.255086pt;}
._4c{width:109.087817pt;}
._1c{width:113.582153pt;}
._57{width:152.056759pt;}
._56{width:153.056037pt;}
.fs1{font-size:166.546286pt;}
.fs0{font-size:181.028571pt;}
.y2{bottom:4.320000pt;}
.y1{bottom:47.840000pt;}
.y0{bottom:52.160000pt;}
.y49{bottom:104.512000pt;}
.y35{bottom:104.832000pt;}
.y48{bottom:121.312000pt;}
.y34{bottom:121.632000pt;}
.y47{bottom:138.266667pt;}
.y33{bottom:138.586667pt;}
.y32{bottom:155.386667pt;}
.y31{bottom:172.186667pt;}
.y3e{bottom:188.826667pt;}
.y30{bottom:189.146667pt;}
.y3d{bottom:205.626667pt;}
.y2f{bottom:205.946667pt;}
.y41{bottom:222.586667pt;}
.y2e{bottom:222.906667pt;}
.y4d{bottom:239.386667pt;}
.y2d{bottom:239.706667pt;}
.y4c{bottom:256.186667pt;}
.y2c{bottom:256.506667pt;}
.y4b{bottom:273.146667pt;}
.y2b{bottom:273.466667pt;}
.y4a{bottom:289.986667pt;}
.y2a{bottom:290.306667pt;}
.y29{bottom:307.266667pt;}
.y28{bottom:324.066667pt;}
.y27{bottom:340.866667pt;}
.y26{bottom:357.826667pt;}
.y25{bottom:374.626667pt;}
.y24{bottom:391.586667pt;}
.y23{bottom:408.386667pt;}
.y22{bottom:425.346667pt;}
.y46{bottom:441.826667pt;}
.y21{bottom:442.146667pt;}
.y20{bottom:458.626667pt;}
.y40{bottom:458.946667pt;}
.y1f{bottom:475.586667pt;}
.y3f{bottom:475.906667pt;}
.y1e{bottom:492.706667pt;}
.y1d{bottom:509.693333pt;}
.y1c{bottom:526.493333pt;}
.y1b{bottom:543.293333pt;}
.y1a{bottom:560.253333pt;}
.y19{bottom:577.053333pt;}
.y18{bottom:594.013333pt;}
.y17{bottom:610.813333pt;}
.y42{bottom:627.293333pt;}
.y16{bottom:627.613333pt;}
.y15{bottom:644.573333pt;}
.y14{bottom:661.373333pt;}
.y13{bottom:678.333333pt;}
.y12{bottom:695.133333pt;}
.y11{bottom:711.933333pt;}
.y10{bottom:728.933333pt;}
.yf{bottom:745.733333pt;}
.ye{bottom:762.373333pt;}
.y3c{bottom:762.693333pt;}
.yd{bottom:779.173333pt;}
.y3b{bottom:779.493333pt;}
.y45{bottom:795.973333pt;}
.yc{bottom:796.293333pt;}
.y44{bottom:812.933333pt;}
.yb{bottom:813.253333pt;}
.y43{bottom:829.733333pt;}
.ya{bottom:830.053333pt;}
.y9{bottom:846.693333pt;}
.y3a{bottom:847.013333pt;}
.y8{bottom:863.493333pt;}
.y39{bottom:863.813333pt;}
.y7{bottom:880.773333pt;}
.y6{bottom:897.573333pt;}
.y5{bottom:914.053333pt;}
.y38{bottom:914.373333pt;}
.y4{bottom:931.013333pt;}
.y37{bottom:931.333333pt;}
.y3{bottom:947.813333pt;}
.y36{bottom:948.133333pt;}
.h2{height:19.560000pt;}
.h7{height:115.639071pt;}
.h1{height:123.484821pt;}
.h6{height:149.306143pt;}
.h5{height:167.684786pt;}
.h4{height:170.449714pt;}
.h3{height:170.856321pt;}
.h0{height:1056.000000pt;}
.w1{width:8.000000pt;}
.w2{width:16.320000pt;}
.w0{width:816.000000pt;}
.x2{left:0.000000pt;}
.x0{left:94.592000pt;}
.x3{left:399.906667pt;}
.x1{left:404.066667pt;}
}
