.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:auto;margin-bottom:auto} .ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.862793;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.313477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.332520;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.112305;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.330566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-ms-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-webkit-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);}
.v2{vertical-align:-256.000000px;}
.v1{vertical-align:-251.800000px;}
.v3{vertical-align:-248.400000px;}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-3.000000px;}
.ls9{letter-spacing:-2.000000px;}
.ls5{letter-spacing:-1.720000px;}
.lsa{letter-spacing:-1.680000px;}
.ls1{letter-spacing:-1.580000px;}
.ls2{letter-spacing:-1.260000px;}
.ls6{letter-spacing:-0.320000px;}
.ls0{letter-spacing:0.000000px;}
.ls7{letter-spacing:1.000000px;}
.ls8{letter-spacing:2.000000px;}
.lsd{letter-spacing:2.320000px;}
.lsc{letter-spacing:2.940000px;}
.ls4{letter-spacing:6.000000px;}
.ls3{letter-spacing:258.900000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws75{word-spacing:-57.320000px;}
.ws49{word-spacing:-57.000000px;}
.ws3e{word-spacing:-55.000000px;}
.ws2d{word-spacing:-53.740000px;}
.ws50{word-spacing:-53.320000px;}
.ws6c{word-spacing:-7.000000px;}
.ws2f{word-spacing:-3.000000px;}
.ws6e{word-spacing:-2.140000px;}
.ws19{word-spacing:-1.540000px;}
.ws4b{word-spacing:-1.320000px;}
.wsb{word-spacing:-1.100000px;}
.ws46{word-spacing:-1.000000px;}
.ws1{word-spacing:-0.880000px;}
.wse{word-spacing:-0.660000px;}
.ws6b{word-spacing:-0.220000px;}
.ws52{word-spacing:-0.200000px;}
.ws22{word-spacing:0.000000px;}
.ws66{word-spacing:0.100000px;}
.ws71{word-spacing:0.220000px;}
.ws0{word-spacing:0.460000px;}
.ws2e{word-spacing:0.880000px;}
.ws5b{word-spacing:0.960000px;}
.ws60{word-spacing:1.060000px;}
.wsf{word-spacing:1.760000px;}
.ws4f{word-spacing:2.200000px;}
.ws3{word-spacing:2.420000px;}
.ws2{word-spacing:2.640000px;}
.ws6a{word-spacing:2.720000px;}
.ws39{word-spacing:2.860000px;}
.ws6{word-spacing:3.080000px;}
.wsa{word-spacing:3.300000px;}
.ws76{word-spacing:3.540000px;}
.ws68{word-spacing:4.240000px;}
.ws2a{word-spacing:6.600000px;}
.ws45{word-spacing:6.820000px;}
.wsc{word-spacing:7.040000px;}
.ws24{word-spacing:7.260000px;}
.ws70{word-spacing:8.840000px;}
.ws5e{word-spacing:9.460000px;}
.ws21{word-spacing:9.680000px;}
.ws74{word-spacing:10.960000px;}
.ws1e{word-spacing:11.000000px;}
.ws64{word-spacing:11.220000px;}
.ws63{word-spacing:12.000000px;}
.ws5a{word-spacing:14.740000px;}
.ws4{word-spacing:14.960000px;}
.ws20{word-spacing:15.180000px;}
.ws6d{word-spacing:17.600000px;}
.ws8{word-spacing:18.480000px;}
.ws4a{word-spacing:18.700000px;}
.ws14{word-spacing:18.920000px;}
.ws32{word-spacing:19.140000px;}
.ws53{word-spacing:19.200000px;}
.ws48{word-spacing:19.540000px;}
.ws62{word-spacing:19.580000px;}
.ws43{word-spacing:20.000000px;}
.ws5d{word-spacing:21.560000px;}
.ws67{word-spacing:22.440000px;}
.ws47{word-spacing:22.880000px;}
.ws31{word-spacing:23.100000px;}
.ws35{word-spacing:23.320000px;}
.ws2c{word-spacing:26.620000px;}
.ws3d{word-spacing:26.840000px;}
.ws11{word-spacing:27.060000px;}
.ws12{word-spacing:27.280000px;}
.ws5c{word-spacing:29.700000px;}
.ws51{word-spacing:30.580000px;}
.ws38{word-spacing:30.800000px;}
.ws5{word-spacing:31.020000px;}
.ws40{word-spacing:32.320000px;}
.ws72{word-spacing:33.660000px;}
.ws15{word-spacing:34.540000px;}
.ws4c{word-spacing:34.760000px;}
.ws7{word-spacing:34.980000px;}
.ws13{word-spacing:35.200000px;}
.ws1f{word-spacing:37.620000px;}
.ws30{word-spacing:38.500000px;}
.ws59{word-spacing:38.720000px;}
.ws1a{word-spacing:38.940000px;}
.ws10{word-spacing:39.160000px;}
.ws37{word-spacing:39.600000px;}
.ws44{word-spacing:40.000000px;}
.ws33{word-spacing:41.580000px;}
.ws58{word-spacing:42.460000px;}
.ws26{word-spacing:42.900000px;}
.ws34{word-spacing:43.120000px;}
.ws4d{word-spacing:43.340000px;}
.ws65{word-spacing:45.760000px;}
.ws4e{word-spacing:47.000000px;}
.ws2b{word-spacing:47.080000px;}
.ws28{word-spacing:50.600000px;}
.ws61{word-spacing:51.000000px;}
.ws17{word-spacing:51.040000px;}
.ws27{word-spacing:54.560000px;}
.ws18{word-spacing:54.580000px;}
.ws9{word-spacing:55.000000px;}
.ws3b{word-spacing:55.220000px;}
.wsd{word-spacing:57.640000px;}
.ws3f{word-spacing:58.960000px;}
.ws41{word-spacing:59.180000px;}
.ws16{word-spacing:62.480000px;}
.ws23{word-spacing:62.700000px;}
.ws3c{word-spacing:62.920000px;}
.ws1b{word-spacing:66.440000px;}
.ws5f{word-spacing:70.840000px;}
.ws42{word-spacing:75.020000px;}
.ws55{word-spacing:82.940000px;}
.ws56{word-spacing:83.800000px;}
.ws57{word-spacing:86.460000px;}
.ws1d{word-spacing:86.900000px;}
.ws29{word-spacing:87.120000px;}
.ws25{word-spacing:91.080000px;}
.ws3a{word-spacing:95.480000px;}
.ws1c{word-spacing:99.220000px;}
.ws73{word-spacing:122.980000px;}
.ws54{word-spacing:144.200000px;}
.ws6f{word-spacing:163.020000px;}
.ws36{word-spacing:229.160000px;}
.ws69{word-spacing:491.040000px;}
._9{margin-left:-5.860000px;}
._23{margin-left:-4.400000px;}
._4{margin-left:-2.420000px;}
._1{margin-left:-1.100000px;}
._2{width:1.320000px;}
._6{width:2.640000px;}
._12{width:4.400000px;}
._c{width:5.800000px;}
._39{width:7.240000px;}
._13{width:8.820000px;}
._36{width:10.640000px;}
._34{width:12.580000px;}
._3f{width:16.020000px;}
._5a{width:34.720000px;}
._5b{width:36.000000px;}
._59{width:37.260000px;}
._4c{width:38.500000px;}
._4d{width:39.920000px;}
._56{width:41.980000px;}
._54{width:46.520000px;}
._55{width:47.920000px;}
._0{width:49.720000px;}
._3b{width:52.660000px;}
._b{width:53.820000px;}
._8{width:55.000000px;}
._3{width:56.760000px;}
._5{width:58.300000px;}
._14{width:59.600000px;}
._a{width:60.740000px;}
._11{width:62.480000px;}
._24{width:64.240000px;}
._7{width:65.240000px;}
._38{width:67.200000px;}
._32{width:68.320000px;}
._37{width:69.960000px;}
._e{width:71.060000px;}
._31{width:72.400000px;}
._d{width:73.920000px;}
._19{width:75.180000px;}
._43{width:76.320000px;}
._25{width:77.720000px;}
._26{width:79.440000px;}
._44{width:81.400000px;}
._21{width:83.380000px;}
._20{width:85.360000px;}
._22{width:86.460000px;}
._f{width:88.660000px;}
._10{width:89.980000px;}
._16{width:91.080000px;}
._15{width:92.840000px;}
._18{width:94.160000px;}
._1f{width:95.840000px;}
._1e{width:97.460000px;}
._4a{width:98.520000px;}
._27{width:99.520000px;}
._40{width:100.980000px;}
._3a{width:102.520000px;}
._2f{width:104.120000px;}
._3e{width:105.820000px;}
._2e{width:107.040000px;}
._2c{width:108.900000px;}
._2d{width:110.220000px;}
._1a{width:111.680000px;}
._1c{width:112.720000px;}
._1b{width:114.340000px;}
._29{width:116.440000px;}
._5e{width:117.560000px;}
._2b{width:118.580000px;}
._5f{width:119.720000px;}
._28{width:120.740000px;}
._33{width:122.720000px;}
._2a{width:124.960000px;}
._50{width:126.500000px;}
._51{width:128.920000px;}
._5d{width:130.020000px;}
._4e{width:131.120000px;}
._4f{width:133.320000px;}
._57{width:134.860000px;}
._63{width:136.620000px;}
._35{width:137.940000px;}
._52{width:139.680000px;}
._3d{width:142.600000px;}
._42{width:144.100000px;}
._41{width:146.260000px;}
._3c{width:150.260000px;}
._47{width:152.380000px;}
._48{width:154.740000px;}
._46{width:158.640000px;}
._45{width:159.720000px;}
._30{width:171.880000px;}
._49{width:175.380000px;}
._67{width:181.280000px;}
._68{width:182.820000px;}
._17{width:184.140000px;}
._5c{width:188.480000px;}
._65{width:219.120000px;}
._64{width:221.760000px;}
._66{width:223.300000px;}
._60{width:547.140000px;}
._61{width:549.560000px;}
._62{width:550.660000px;}
._1d{width:708.100000px;}
._53{width:1136.400000px;}
._58{width:2632.000000px;}
._4b{width:2880.500000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:100.000000px;}
.fs4{font-size:132.000000px;}
.fs1{font-size:140.000000px;}
.fs3{font-size:160.000000px;}
.fs5{font-size:200.000000px;}
.fs0{font-size:220.000000px;}
.y4a{bottom:0.000000px;}
.y2{bottom:67.569444px;}
.y1{bottom:91.609848px;}
.y58{bottom:129.084596px;}
.y5f{bottom:129.791667px;}
.y57{bottom:133.680556px;}
.y5e{bottom:136.155303px;}
.y73{bottom:138.276515px;}
.y33{bottom:138.630051px;}
.y56{bottom:146.407828px;}
.y6e{bottom:147.468434px;}
.y55{bottom:151.003788px;}
.y6c{bottom:151.136364px;}
.y5d{bottom:152.064394px;}
.y59{bottom:155.555556px;}
.y72{bottom:160.902778px;}
.y32{bottom:161.256313px;}
.y6b{bottom:163.731061px;}
.y54{bottom:164.791667px;}
.y3c{bottom:167.929293px;}
.y6a{bottom:168.327020px;}
.y69{bottom:182.106061px;}
.y71{bottom:183.166667px;}
.y31{bottom:183.537879px;}
.y60{bottom:185.606061px;}
.y30{bottom:205.845960px;}
.y5c{bottom:212.563131px;}
.y68{bottom:215.037879px;}
.y53{bottom:223.876263px;}
.y2f{bottom:228.118687px;}
.y5b{bottom:230.239899px;}
.y67{bottom:237.310606px;}
.y52{bottom:246.502525px;}
.y2e{bottom:250.391414px;}
.y51{bottom:268.775253px;}
.y2d{bottom:273.017677px;}
.y66{bottom:282.209596px;}
.y50{bottom:291.047980px;}
.y2c{bottom:295.290404px;}
.y65{bottom:304.482323px;}
.y4e{bottom:313.320707px;}
.y2b{bottom:317.563131px;}
.y4f{bottom:319.684343px;}
.y64{bottom:322.512626px;}
.y4d{bottom:335.946970px;}
.y2a{bottom:339.835859px;}
.y4c{bottom:358.219697px;}
.y3b{bottom:362.462121px;}
.y49{bottom:380.527778px;}
.y29{bottom:384.770202px;}
.y4b{bottom:386.909091px;}
.y48{bottom:402.818182px;}
.y28{bottom:407.060606px;}
.y47{bottom:425.426768px;}
.y27{bottom:429.333333px;}
.y46{bottom:447.717172px;}
.y26{bottom:451.941919px;}
.y45{bottom:469.989899px;}
.y25{bottom:474.232323px;}
.y44{bottom:492.244949px;}
.y24{bottom:496.505051px;}
.y43{bottom:514.871212px;}
.y23{bottom:518.777778px;}
.y42{bottom:537.161616px;}
.y22{bottom:541.386364px;}
.y41{bottom:559.416667px;}
.y21{bottom:563.676768px;}
.y40{bottom:583.156566px;}
.y70{bottom:585.631313px;}
.y20{bottom:585.984848px;}
.y3f{bottom:605.429293px;}
.y6f{bottom:607.904040px;}
.y1f{bottom:608.257576px;}
.y3e{bottom:629.469697px;}
.y1e{bottom:630.883838px;}
.y3d{bottom:651.742424px;}
.y1d{bottom:653.156566px;}
.y1c{bottom:675.429293px;}
.y1b{bottom:697.702020px;}
.y1a{bottom:720.328283px;}
.y63{bottom:726.691919px;}
.y19{bottom:742.601010px;}
.y18{bottom:764.926768px;}
.y3a{bottom:787.199495px;}
.y17{bottom:809.454545px;}
.y39{bottom:809.825758px;}
.y16{bottom:832.080808px;}
.y15{bottom:854.371212px;}
.y14{bottom:876.643939px;}
.y6d{bottom:882.989899px;}
.y13{bottom:899.270202px;}
.y62{bottom:905.616162px;}
.y12{bottom:921.525253px;}
.y11{bottom:943.851010px;}
.y5a{bottom:950.214646px;}
.y10{bottom:966.123737px;}
.yf{bottom:988.750000px;}
.ye{bottom:1011.022727px;}
.yd{bottom:1033.295455px;}
.yc{bottom:1055.568182px;}
.yb{bottom:1077.840909px;}
.y38{bottom:1078.194444px;}
.ya{bottom:1100.113636px;}
.y37{bottom:1100.467172px;}
.y9{bottom:1122.421717px;}
.y36{bottom:1122.775253px;}
.y8{bottom:1145.065657px;}
.y7{bottom:1167.691919px;}
.y6{bottom:1189.593434px;}
.y35{bottom:1189.946970px;}
.y5{bottom:1211.883838px;}
.y34{bottom:1212.237374px;}
.y61{bottom:1218.601010px;}
.y75{bottom:1234.138889px;}
.y4{bottom:1234.510101px;}
.y74{bottom:1256.765152px;}
.y3{bottom:1257.118687px;}
.y0{bottom:1366.414141px;}
.he{height:0.883838px;}
.h4{height:1.767677px;}
.h7{height:68.457031px;}
.ha{height:90.363281px;}
.h8{height:109.531250px;}
.hb{height:136.914062px;}
.h6{height:140.957031px;}
.h1{height:150.605469px;}
.h2{height:221.503906px;}
.hd{height:225.156250px;}
.h3{height:225.693359px;}
.h9{height:403.914141px;}
.hc{height:463.131313px;}
.h5{height:1399.964523px;}
.h0{height:1400.000000px;}
.w1{width:254.545455px;}
.w4{width:632.828283px;}
.w3{width:669.949495px;}
.w2{width:1081.773990px;}
.w0{width:1081.818182px;}
.xa{left:0.044192px;}
.x2{left:125.195707px;}
.x4{left:129.791667px;}
.x14{left:131.205808px;}
.x8{left:157.013889px;}
.x7{left:187.780303px;}
.x9{left:188.840909px;}
.xd{left:199.031566px;}
.xe{left:205.439394px;}
.x3{left:290.340909px;}
.x19{left:306.559343px;}
.x1a{left:312.967172px;}
.x10{left:325.296717px;}
.x11{left:331.704545px;}
.xf{left:379.838384px;}
.x1b{left:385.494949px;}
.xb{left:421.157828px;}
.x5{left:422.952020px;}
.xc{left:427.565657px;}
.x6{left:460.444444px;}
.x13{left:462.919192px;}
.x1{left:535.782828px;}
.x0{left:540.732323px;}
.x17{left:673.316919px;}
.x18{left:679.707071px;}
.x1c{left:758.191919px;}
.x15{left:786.837121px;}
.x16{left:793.244949px;}
.x12{left:794.659091px;}
.x1d{left:860.372475px;}
.x1e{left:866.780303px;}
@media print{
.v2{vertical-align:-193.097143pt;}
.v1{vertical-align:-189.929143pt;}
.v3{vertical-align:-187.364571pt;}
.v0{vertical-align:0.000000pt;}
.lsb{letter-spacing:-2.262857pt;}
.ls9{letter-spacing:-1.508571pt;}
.ls5{letter-spacing:-1.297371pt;}
.lsa{letter-spacing:-1.267200pt;}
.ls1{letter-spacing:-1.191771pt;}
.ls2{letter-spacing:-0.950400pt;}
.ls6{letter-spacing:-0.241371pt;}
.ls0{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.754286pt;}
.ls8{letter-spacing:1.508571pt;}
.lsd{letter-spacing:1.749943pt;}
.lsc{letter-spacing:2.217600pt;}
.ls4{letter-spacing:4.525714pt;}
.ls3{letter-spacing:195.284571pt;}
.ws75{word-spacing:-43.235657pt;}
.ws49{word-spacing:-42.994286pt;}
.ws3e{word-spacing:-41.485714pt;}
.ws2d{word-spacing:-40.535314pt;}
.ws50{word-spacing:-40.218514pt;}
.ws6c{word-spacing:-5.280000pt;}
.ws2f{word-spacing:-2.262857pt;}
.ws6e{word-spacing:-1.614171pt;}
.ws19{word-spacing:-1.161600pt;}
.ws4b{word-spacing:-0.995657pt;}
.wsb{word-spacing:-0.829714pt;}
.ws46{word-spacing:-0.754286pt;}
.ws1{word-spacing:-0.663771pt;}
.wse{word-spacing:-0.497829pt;}
.ws6b{word-spacing:-0.165943pt;}
.ws52{word-spacing:-0.150857pt;}
.ws22{word-spacing:0.000000pt;}
.ws66{word-spacing:0.075429pt;}
.ws71{word-spacing:0.165943pt;}
.ws0{word-spacing:0.346971pt;}
.ws2e{word-spacing:0.663771pt;}
.ws5b{word-spacing:0.724114pt;}
.ws60{word-spacing:0.799543pt;}
.wsf{word-spacing:1.327543pt;}
.ws4f{word-spacing:1.659429pt;}
.ws3{word-spacing:1.825371pt;}
.ws2{word-spacing:1.991314pt;}
.ws6a{word-spacing:2.051657pt;}
.ws39{word-spacing:2.157257pt;}
.ws6{word-spacing:2.323200pt;}
.wsa{word-spacing:2.489143pt;}
.ws76{word-spacing:2.670171pt;}
.ws68{word-spacing:3.198171pt;}
.ws2a{word-spacing:4.978286pt;}
.ws45{word-spacing:5.144229pt;}
.wsc{word-spacing:5.310171pt;}
.ws24{word-spacing:5.476114pt;}
.ws70{word-spacing:6.667886pt;}
.ws5e{word-spacing:7.135543pt;}
.ws21{word-spacing:7.301486pt;}
.ws74{word-spacing:8.266971pt;}
.ws1e{word-spacing:8.297143pt;}
.ws64{word-spacing:8.463086pt;}
.ws63{word-spacing:9.051429pt;}
.ws5a{word-spacing:11.118171pt;}
.ws4{word-spacing:11.284114pt;}
.ws20{word-spacing:11.450057pt;}
.ws6d{word-spacing:13.275429pt;}
.ws8{word-spacing:13.939200pt;}
.ws4a{word-spacing:14.105143pt;}
.ws14{word-spacing:14.271086pt;}
.ws32{word-spacing:14.437029pt;}
.ws53{word-spacing:14.482286pt;}
.ws48{word-spacing:14.738743pt;}
.ws62{word-spacing:14.768914pt;}
.ws43{word-spacing:15.085714pt;}
.ws5d{word-spacing:16.262400pt;}
.ws67{word-spacing:16.926171pt;}
.ws47{word-spacing:17.258057pt;}
.ws31{word-spacing:17.424000pt;}
.ws35{word-spacing:17.589943pt;}
.ws2c{word-spacing:20.079086pt;}
.ws3d{word-spacing:20.245029pt;}
.ws11{word-spacing:20.410971pt;}
.ws12{word-spacing:20.576914pt;}
.ws5c{word-spacing:22.402286pt;}
.ws51{word-spacing:23.066057pt;}
.ws38{word-spacing:23.232000pt;}
.ws5{word-spacing:23.397943pt;}
.ws40{word-spacing:24.378514pt;}
.ws72{word-spacing:25.389257pt;}
.ws15{word-spacing:26.053029pt;}
.ws4c{word-spacing:26.218971pt;}
.ws7{word-spacing:26.384914pt;}
.ws13{word-spacing:26.550857pt;}
.ws1f{word-spacing:28.376229pt;}
.ws30{word-spacing:29.040000pt;}
.ws59{word-spacing:29.205943pt;}
.ws1a{word-spacing:29.371886pt;}
.ws10{word-spacing:29.537829pt;}
.ws37{word-spacing:29.869714pt;}
.ws44{word-spacing:30.171429pt;}
.ws33{word-spacing:31.363200pt;}
.ws58{word-spacing:32.026971pt;}
.ws26{word-spacing:32.358857pt;}
.ws34{word-spacing:32.524800pt;}
.ws4d{word-spacing:32.690743pt;}
.ws65{word-spacing:34.516114pt;}
.ws4e{word-spacing:35.451429pt;}
.ws2b{word-spacing:35.511771pt;}
.ws28{word-spacing:38.166857pt;}
.ws61{word-spacing:38.468571pt;}
.ws17{word-spacing:38.498743pt;}
.ws27{word-spacing:41.153829pt;}
.ws18{word-spacing:41.168914pt;}
.ws9{word-spacing:41.485714pt;}
.ws3b{word-spacing:41.651657pt;}
.wsd{word-spacing:43.477029pt;}
.ws3f{word-spacing:44.472686pt;}
.ws41{word-spacing:44.638629pt;}
.ws16{word-spacing:47.127771pt;}
.ws23{word-spacing:47.293714pt;}
.ws3c{word-spacing:47.459657pt;}
.ws1b{word-spacing:50.114743pt;}
.ws5f{word-spacing:53.433600pt;}
.ws42{word-spacing:56.586514pt;}
.ws55{word-spacing:62.560457pt;}
.ws56{word-spacing:63.209143pt;}
.ws57{word-spacing:65.215543pt;}
.ws1d{word-spacing:65.547429pt;}
.ws29{word-spacing:65.713371pt;}
.ws25{word-spacing:68.700343pt;}
.ws3a{word-spacing:72.019200pt;}
.ws1c{word-spacing:74.840229pt;}
.ws73{word-spacing:92.762057pt;}
.ws54{word-spacing:108.768000pt;}
.ws6f{word-spacing:122.963657pt;}
.ws36{word-spacing:172.852114pt;}
.ws69{word-spacing:370.384457pt;}
._9{margin-left:-4.420114pt;}
._23{margin-left:-3.318857pt;}
._4{margin-left:-1.825371pt;}
._1{margin-left:-0.829714pt;}
._2{width:0.995657pt;}
._6{width:1.991314pt;}
._12{width:3.318857pt;}
._c{width:4.374857pt;}
._39{width:5.461029pt;}
._13{width:6.652800pt;}
._36{width:8.025600pt;}
._34{width:9.488914pt;}
._3f{width:12.083657pt;}
._5a{width:26.188800pt;}
._5b{width:27.154286pt;}
._59{width:28.104686pt;}
._4c{width:29.040000pt;}
._4d{width:30.111086pt;}
._56{width:31.664914pt;}
._54{width:35.089371pt;}
._55{width:36.145371pt;}
._0{width:37.503086pt;}
._3b{width:39.720686pt;}
._b{width:40.595657pt;}
._8{width:41.485714pt;}
._3{width:42.813257pt;}
._5{width:43.974857pt;}
._14{width:44.955429pt;}
._a{width:45.815314pt;}
._11{width:47.127771pt;}
._24{width:48.455314pt;}
._7{width:49.209600pt;}
._38{width:50.688000pt;}
._32{width:51.532800pt;}
._37{width:52.769829pt;}
._e{width:53.599543pt;}
._31{width:54.610286pt;}
._d{width:55.756800pt;}
._19{width:56.707200pt;}
._43{width:57.567086pt;}
._25{width:58.623086pt;}
._26{width:59.920457pt;}
._44{width:61.398857pt;}
._21{width:62.892343pt;}
._20{width:64.385829pt;}
._22{width:65.215543pt;}
._f{width:66.874971pt;}
._10{width:67.870629pt;}
._16{width:68.700343pt;}
._15{width:70.027886pt;}
._18{width:71.023543pt;}
._1f{width:72.290743pt;}
._1e{width:73.512686pt;}
._4a{width:74.312229pt;}
._27{width:75.066514pt;}
._40{width:76.167771pt;}
._3a{width:77.329371pt;}
._2f{width:78.536229pt;}
._3e{width:79.818514pt;}
._2e{width:80.738743pt;}
._2c{width:82.141714pt;}
._2d{width:83.137371pt;}
._1a{width:84.238629pt;}
._1c{width:85.023086pt;}
._1b{width:86.245029pt;}
._29{width:87.829029pt;}
._5e{width:88.673829pt;}
._2b{width:89.443200pt;}
._5f{width:90.303086pt;}
._28{width:91.072457pt;}
._33{width:92.565943pt;}
._2a{width:94.255543pt;}
._50{width:95.417143pt;}
._51{width:97.242514pt;}
._5d{width:98.072229pt;}
._4e{width:98.901943pt;}
._4f{width:100.561371pt;}
._57{width:101.722971pt;}
._63{width:103.050514pt;}
._35{width:104.046171pt;}
._52{width:105.358629pt;}
._3d{width:107.561143pt;}
._42{width:108.692571pt;}
._41{width:110.321829pt;}
._3c{width:113.338971pt;}
._47{width:114.938057pt;}
._48{width:116.718171pt;}
._46{width:119.659886pt;}
._45{width:120.474514pt;}
._30{width:129.646629pt;}
._49{width:132.286629pt;}
._67{width:136.736914pt;}
._68{width:137.898514pt;}
._17{width:138.894171pt;}
._5c{width:142.167771pt;}
._65{width:165.279086pt;}
._64{width:167.270400pt;}
._66{width:168.432000pt;}
._60{width:412.699886pt;}
._61{width:414.525257pt;}
._62{width:415.354971pt;}
._1d{width:534.109714pt;}
._53{width:857.170286pt;}
._58{width:1985.280000pt;}
._4b{width:2172.720000pt;}
.fs2{font-size:75.428571pt;}
.fs4{font-size:99.565714pt;}
.fs1{font-size:105.600000pt;}
.fs3{font-size:120.685714pt;}
.fs5{font-size:150.857143pt;}
.fs0{font-size:165.942857pt;}
.y4a{bottom:0.000000pt;}
.y2{bottom:50.966667pt;}
.y1{bottom:69.100000pt;}
.y58{bottom:97.366667pt;}
.y5f{bottom:97.900000pt;}
.y57{bottom:100.833333pt;}
.y5e{bottom:102.700000pt;}
.y73{bottom:104.300000pt;}
.y33{bottom:104.566667pt;}
.y56{bottom:110.433333pt;}
.y6e{bottom:111.233333pt;}
.y55{bottom:113.900000pt;}
.y6c{bottom:114.000000pt;}
.y5d{bottom:114.700000pt;}
.y59{bottom:117.333333pt;}
.y72{bottom:121.366667pt;}
.y32{bottom:121.633333pt;}
.y6b{bottom:123.500000pt;}
.y54{bottom:124.300000pt;}
.y3c{bottom:126.666667pt;}
.y6a{bottom:126.966667pt;}
.y69{bottom:137.360000pt;}
.y71{bottom:138.160000pt;}
.y31{bottom:138.440000pt;}
.y60{bottom:140.000000pt;}
.y30{bottom:155.266667pt;}
.y5c{bottom:160.333333pt;}
.y68{bottom:162.200000pt;}
.y53{bottom:168.866667pt;}
.y2f{bottom:172.066667pt;}
.y5b{bottom:173.666667pt;}
.y67{bottom:179.000000pt;}
.y52{bottom:185.933333pt;}
.y2e{bottom:188.866667pt;}
.y51{bottom:202.733333pt;}
.y2d{bottom:205.933333pt;}
.y66{bottom:212.866667pt;}
.y50{bottom:219.533333pt;}
.y2c{bottom:222.733333pt;}
.y65{bottom:229.666667pt;}
.y4e{bottom:236.333333pt;}
.y2b{bottom:239.533333pt;}
.y4f{bottom:241.133333pt;}
.y64{bottom:243.266667pt;}
.y4d{bottom:253.400000pt;}
.y2a{bottom:256.333333pt;}
.y4c{bottom:270.200000pt;}
.y3b{bottom:273.400000pt;}
.y49{bottom:287.026667pt;}
.y29{bottom:290.226667pt;}
.y4b{bottom:291.840000pt;}
.y48{bottom:303.840000pt;}
.y28{bottom:307.040000pt;}
.y47{bottom:320.893333pt;}
.y27{bottom:323.840000pt;}
.y46{bottom:337.706667pt;}
.y26{bottom:340.893333pt;}
.y45{bottom:354.506667pt;}
.y25{bottom:357.706667pt;}
.y44{bottom:371.293333pt;}
.y24{bottom:374.506667pt;}
.y43{bottom:388.360000pt;}
.y23{bottom:391.306667pt;}
.y42{bottom:405.173333pt;}
.y22{bottom:408.360000pt;}
.y41{bottom:421.960000pt;}
.y21{bottom:425.173333pt;}
.y40{bottom:439.866667pt;}
.y70{bottom:441.733333pt;}
.y20{bottom:442.000000pt;}
.y3f{bottom:456.666667pt;}
.y6f{bottom:458.533333pt;}
.y1f{bottom:458.800000pt;}
.y3e{bottom:474.800000pt;}
.y1e{bottom:475.866667pt;}
.y3d{bottom:491.600000pt;}
.y1d{bottom:492.666667pt;}
.y1c{bottom:509.466667pt;}
.y1b{bottom:526.266667pt;}
.y1a{bottom:543.333333pt;}
.y63{bottom:548.133333pt;}
.y19{bottom:560.133333pt;}
.y18{bottom:576.973333pt;}
.y3a{bottom:593.773333pt;}
.y17{bottom:610.560000pt;}
.y39{bottom:610.840000pt;}
.y16{bottom:627.626667pt;}
.y15{bottom:644.440000pt;}
.y14{bottom:661.240000pt;}
.y6d{bottom:666.026667pt;}
.y13{bottom:678.306667pt;}
.y62{bottom:683.093333pt;}
.y12{bottom:695.093333pt;}
.y11{bottom:711.933333pt;}
.y5a{bottom:716.733333pt;}
.y10{bottom:728.733333pt;}
.yf{bottom:745.800000pt;}
.ye{bottom:762.600000pt;}
.yd{bottom:779.400000pt;}
.yc{bottom:796.200000pt;}
.yb{bottom:813.000000pt;}
.y38{bottom:813.266667pt;}
.ya{bottom:829.800000pt;}
.y37{bottom:830.066667pt;}
.y9{bottom:846.626667pt;}
.y36{bottom:846.893333pt;}
.y8{bottom:863.706667pt;}
.y7{bottom:880.773333pt;}
.y6{bottom:897.293333pt;}
.y35{bottom:897.560000pt;}
.y5{bottom:914.106667pt;}
.y34{bottom:914.373333pt;}
.y61{bottom:919.173333pt;}
.y75{bottom:930.893333pt;}
.y4{bottom:931.173333pt;}
.y74{bottom:947.960000pt;}
.y3{bottom:948.226667pt;}
.y0{bottom:1030.666667pt;}
.he{height:0.666667pt;}
.h4{height:1.333333pt;}
.h7{height:51.636161pt;}
.ha{height:68.159732pt;}
.h8{height:82.617857pt;}
.hb{height:103.272321pt;}
.h6{height:106.321875pt;}
.h1{height:113.599554pt;}
.h2{height:167.077232pt;}
.hd{height:169.832143pt;}
.h3{height:170.237277pt;}
.h9{height:304.666667pt;}
.hc{height:349.333333pt;}
.h5{height:1055.973240pt;}
.h0{height:1056.000000pt;}
.w1{width:192.000000pt;}
.w4{width:477.333333pt;}
.w3{width:505.333333pt;}
.w2{width:815.966667pt;}
.w0{width:816.000000pt;}
.xa{left:0.033333pt;}
.x2{left:94.433333pt;}
.x4{left:97.900000pt;}
.x14{left:98.966667pt;}
.x8{left:118.433333pt;}
.x7{left:141.640000pt;}
.x9{left:142.440000pt;}
.xd{left:150.126667pt;}
.xe{left:154.960000pt;}
.x3{left:219.000000pt;}
.x19{left:231.233333pt;}
.x1a{left:236.066667pt;}
.x10{left:245.366667pt;}
.x11{left:250.200000pt;}
.xf{left:286.506667pt;}
.x1b{left:290.773333pt;}
.xb{left:317.673333pt;}
.x5{left:319.026667pt;}
.xc{left:322.506667pt;}
.x6{left:347.306667pt;}
.x13{left:349.173333pt;}
.x1{left:404.133333pt;}
.x0{left:407.866667pt;}
.x17{left:507.873333pt;}
.x18{left:512.693333pt;}
.x1c{left:571.893333pt;}
.x15{left:593.500000pt;}
.x16{left:598.333333pt;}
.x12{left:599.400000pt;}
.x1d{left:648.966667pt;}
.x1e{left:653.800000pt;}
}
