.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:auto;margin-bottom:auto} .ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.800000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.800000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-ms-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-webkit-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-9.100000px;}
._1{margin-left:-7.000000px;}
._0{margin-left:-4.900000px;}
._2{width:10.430000px;}
._3{width:14.000000px;}
.fc0{color:rgb(18,86,133);}
.fs1{font-size:500.000000px;}
.fs0{font-size:700.000000px;}
.y4{bottom:13.522197px;}
.y2{bottom:947.465025px;}
.y1{bottom:1018.172096px;}
.y0{bottom:1080.934343px;}
.y3{bottom:1082.284848px;}
.h3{height:62.840909px;}
.h1{height:64.520202px;}
.h4{height:394.000000px;}
.h2{height:551.600000px;}
.h0{height:1400.000000px;}
.w0{width:1081.818182px;}
.x0{left:0.000000px;}
.x1{left:211.152702px;}
.x2{left:248.088308px;}
.x3{left:416.223182px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-6.864000pt;}
._1{margin-left:-5.280000pt;}
._0{margin-left:-3.696000pt;}
._2{width:7.867200pt;}
._3{width:10.560000pt;}
.fs1{font-size:377.142857pt;}
.fs0{font-size:528.000000pt;}
.y4{bottom:10.199600pt;}
.y2{bottom:714.659333pt;}
.y1{bottom:767.992667pt;}
.y0{bottom:815.333333pt;}
.y3{bottom:816.352000pt;}
.h3{height:47.400000pt;}
.h1{height:48.666667pt;}
.h4{height:297.188571pt;}
.h2{height:416.064000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:159.269467pt;}
.x2{left:187.129467pt;}
.x3{left:313.951200pt;}
}
