.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:auto;margin-bottom:auto} .ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.059000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-ms-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-webkit-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-1.700000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:0.000000px;}
.ws0{word-spacing:3.400000px;}
._2{margin-left:-25.840000px;}
._0{margin-left:-21.760000px;}
._5{margin-left:-13.600000px;}
._3{margin-left:-8.500000px;}
._1{margin-left:-3.060000px;}
._4{width:85.680000px;}
.fc0{color:rgb(37,77,127);}
.fs0{font-size:340.000000px;}
.y3{bottom:927.579899px;}
.y2{bottom:973.539495px;}
.y0{bottom:976.641414px;}
.y1{bottom:1019.499091px;}
.h1{height:12.373737px;}
.h2{height:319.940000px;}
.h0{height:1400.000000px;}
.w0{width:1081.818182px;}
.x0{left:0.000000px;}
.x2{left:356.911439px;}
.x1{left:414.593030px;}
.x3{left:469.614798px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-1.282286pt;}
.ws1{word-spacing:0.000000pt;}
.ws0{word-spacing:2.564571pt;}
._2{margin-left:-19.490743pt;}
._0{margin-left:-16.413257pt;}
._5{margin-left:-10.258286pt;}
._3{margin-left:-6.411429pt;}
._1{margin-left:-2.308114pt;}
._4{width:64.627200pt;}
.fs0{font-size:256.457143pt;}
.y3{bottom:699.660267pt;}
.y2{bottom:734.326933pt;}
.y0{bottom:736.666667pt;}
.y1{bottom:768.993600pt;}
.h1{height:9.333333pt;}
.h2{height:241.326171pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:269.213200pt;}
.x1{left:312.721600pt;}
.x3{left:354.223733pt;}
}
