.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:auto;margin-bottom:auto} .ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.953000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.964000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.163000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.163000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.777000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.777000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.771000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-ms-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);-webkit-transform:matrix(0.088384,0.000000,0.000000,0.088384,0,0);}
.v0{vertical-align:0.000000px;}
.ls24{letter-spacing:-15.600000px;}
.lsc{letter-spacing:-6.400000px;}
.lsa{letter-spacing:-4.800000px;}
.ls25{letter-spacing:-4.560000px;}
.lsb{letter-spacing:-4.000000px;}
.ls23{letter-spacing:-3.960000px;}
.lsd{letter-spacing:-3.740000px;}
.ls26{letter-spacing:-3.520000px;}
.ls1b{letter-spacing:-3.300000px;}
.ls11{letter-spacing:-3.080000px;}
.ls13{letter-spacing:-2.640000px;}
.lse{letter-spacing:-2.420000px;}
.ls14{letter-spacing:-2.340000px;}
.ls10{letter-spacing:-2.200000px;}
.ls22{letter-spacing:-2.160000px;}
.lsf{letter-spacing:-1.980000px;}
.ls1c{letter-spacing:-1.760000px;}
.ls0{letter-spacing:-1.700000px;}
.ls16{letter-spacing:-1.540000px;}
.ls12{letter-spacing:-1.320000px;}
.ls1f{letter-spacing:-1.100000px;}
.ls7{letter-spacing:-0.880000px;}
.ls9{letter-spacing:-0.660000px;}
.ls1e{letter-spacing:-0.440000px;}
.ls8{letter-spacing:-0.220000px;}
.ls6{letter-spacing:0.000000px;}
.ls20{letter-spacing:0.110000px;}
.ls18{letter-spacing:0.220000px;}
.ls1a{letter-spacing:0.330000px;}
.ls5{letter-spacing:0.440000px;}
.ls21{letter-spacing:0.550000px;}
.ls4{letter-spacing:0.660000px;}
.ls2{letter-spacing:0.880000px;}
.ls1{letter-spacing:1.100000px;}
.ls15{letter-spacing:1.320000px;}
.ls3{letter-spacing:1.540000px;}
.ls19{letter-spacing:1.760000px;}
.ls17{letter-spacing:2.200000px;}
.ls1d{letter-spacing:4.400000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-61.880000px;}
.wsb{word-spacing:-59.540000px;}
.ws6e{word-spacing:-59.400000px;}
.ws6b{word-spacing:-58.520000px;}
.ws6c{word-spacing:-58.300000px;}
.ws6d{word-spacing:-56.980000px;}
.wsc{word-spacing:-41.120000px;}
.ws70{word-spacing:-12.760000px;}
.ws55{word-spacing:-12.540000px;}
.ws3{word-spacing:-11.660000px;}
.ws51{word-spacing:-11.440000px;}
.ws44{word-spacing:-11.220000px;}
.ws66{word-spacing:-11.000000px;}
.ws9{word-spacing:-10.340000px;}
.ws3b{word-spacing:-10.120000px;}
.wsf{word-spacing:-9.900000px;}
.ws4b{word-spacing:-9.680000px;}
.ws10{word-spacing:-9.240000px;}
.ws24{word-spacing:-9.020000px;}
.ws63{word-spacing:-8.800000px;}
.ws12{word-spacing:-8.580000px;}
.ws29{word-spacing:-8.360000px;}
.ws47{word-spacing:-8.140000px;}
.ws50{word-spacing:-7.920000px;}
.ws60{word-spacing:-7.700000px;}
.ws3c{word-spacing:-7.260000px;}
.ws42{word-spacing:-7.040000px;}
.ws14{word-spacing:-6.820000px;}
.ws4a{word-spacing:-6.600000px;}
.ws2c{word-spacing:-6.380000px;}
.ws48{word-spacing:-6.160000px;}
.ws23{word-spacing:-5.940000px;}
.ws21{word-spacing:-5.720000px;}
.ws33{word-spacing:-5.500000px;}
.ws5d{word-spacing:-5.060000px;}
.ws4{word-spacing:-4.840000px;}
.ws31{word-spacing:-4.400000px;}
.ws3f{word-spacing:-3.960000px;}
.ws68{word-spacing:-3.740000px;}
.ws69{word-spacing:-3.520000px;}
.ws2a{word-spacing:-3.300000px;}
.ws67{word-spacing:-3.080000px;}
.ws3e{word-spacing:-2.860000px;}
.ws20{word-spacing:-2.640000px;}
.ws17{word-spacing:-2.420000px;}
.ws15{word-spacing:-2.200000px;}
.ws1b{word-spacing:-1.980000px;}
.ws35{word-spacing:-1.760000px;}
.ws36{word-spacing:-1.540000px;}
.ws38{word-spacing:-1.320000px;}
.wsd{word-spacing:-1.100000px;}
.ws11{word-spacing:-0.880000px;}
.ws34{word-spacing:-0.660000px;}
.ws8{word-spacing:-0.440000px;}
.ws4f{word-spacing:-0.240000px;}
.ws58{word-spacing:-0.220000px;}
.ws0{word-spacing:0.000000px;}
.ws41{word-spacing:0.440000px;}
.ws28{word-spacing:0.660000px;}
.ws2e{word-spacing:0.880000px;}
.ws2b{word-spacing:1.100000px;}
.ws56{word-spacing:1.320000px;}
.wse{word-spacing:1.540000px;}
.ws5b{word-spacing:1.760000px;}
.ws5c{word-spacing:1.920000px;}
.ws7{word-spacing:1.980000px;}
.ws46{word-spacing:2.200000px;}
.ws43{word-spacing:2.420000px;}
.ws3d{word-spacing:2.640000px;}
.ws1a{word-spacing:2.860000px;}
.ws65{word-spacing:3.080000px;}
.ws1e{word-spacing:3.300000px;}
.ws57{word-spacing:3.520000px;}
.ws6{word-spacing:3.960000px;}
.ws16{word-spacing:4.180000px;}
.ws6a{word-spacing:4.320000px;}
.ws2d{word-spacing:4.400000px;}
.wsa{word-spacing:4.560000px;}
.ws54{word-spacing:4.620000px;}
.ws25{word-spacing:4.840000px;}
.ws3a{word-spacing:5.060000px;}
.ws5e{word-spacing:5.280000px;}
.ws59{word-spacing:5.500000px;}
.ws4c{word-spacing:5.720000px;}
.ws5a{word-spacing:6.160000px;}
.ws30{word-spacing:6.380000px;}
.ws49{word-spacing:6.600000px;}
.ws1d{word-spacing:6.820000px;}
.ws5{word-spacing:7.040000px;}
.ws2f{word-spacing:7.260000px;}
.ws27{word-spacing:7.480000px;}
.ws32{word-spacing:7.700000px;}
.ws37{word-spacing:7.920000px;}
.ws1f{word-spacing:8.360000px;}
.ws26{word-spacing:8.580000px;}
.ws22{word-spacing:8.800000px;}
.ws53{word-spacing:9.020000px;}
.ws45{word-spacing:9.240000px;}
.ws39{word-spacing:9.460000px;}
.ws13{word-spacing:9.680000px;}
.ws4e{word-spacing:10.560000px;}
.ws5f{word-spacing:10.780000px;}
.ws64{word-spacing:11.220000px;}
.ws1c{word-spacing:11.440000px;}
.ws40{word-spacing:11.880000px;}
.ws61{word-spacing:12.100000px;}
.ws52{word-spacing:13.420000px;}
.ws4d{word-spacing:14.080000px;}
.ws18{word-spacing:14.300000px;}
.ws2{word-spacing:14.520000px;}
.ws19{word-spacing:14.740000px;}
.ws62{word-spacing:15.360000px;}
.ws6f{word-spacing:15.620000px;}
._4{margin-left:-43.180000px;}
._20{margin-left:-26.466000px;}
._21{margin-left:-21.428000px;}
._22{margin-left:-20.098000px;}
._1b{margin-left:-17.686000px;}
._1{margin-left:-16.320000px;}
._16{margin-left:-14.884000px;}
._2{margin-left:-13.600000px;}
._c{margin-left:-12.068000px;}
._d{margin-left:-10.696000px;}
._11{margin-left:-9.596000px;}
._5{margin-left:-7.800000px;}
._14{margin-left:-6.798000px;}
._8{margin-left:-5.502000px;}
._0{margin-left:-4.420000px;}
._6{margin-left:-3.080000px;}
._9{margin-left:-1.516000px;}
._3{width:1.700000px;}
._10{width:2.704000px;}
._f{width:3.740000px;}
._e{width:4.800000px;}
._7{width:6.598000px;}
._a{width:7.920000px;}
._12{width:9.042000px;}
._1f{width:10.098000px;}
._13{width:11.222000px;}
._17{width:13.596000px;}
._b{width:14.938000px;}
._15{width:16.678000px;}
._19{width:29.836000px;}
._1e{width:36.520000px;}
._18{width:40.920000px;}
._1d{width:41.996000px;}
._1a{width:48.460000px;}
._1c{width:51.260000px;}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(35,31,32);}
.fc0{color:rgb(37,77,127);}
.fs6{font-size:160.000000px;}
.fs4{font-size:200.000000px;}
.fs2{font-size:220.000000px;}
.fs5{font-size:240.000000px;}
.fs1{font-size:260.000000px;}
.fs3{font-size:280.000000px;}
.fs0{font-size:340.000000px;}
.y13{bottom:110.100101px;}
.y40{bottom:114.108308px;}
.y71{bottom:116.936591px;}
.y7a{bottom:121.886086px;}
.y58{bottom:130.370934px;}
.y12{bottom:139.797071px;}
.y3f{bottom:143.805278px;}
.y70{bottom:146.633561px;}
.y79{bottom:151.583056px;}
.y57{bottom:160.067904px;}
.y11{bottom:169.494040px;}
.y3e{bottom:173.502247px;}
.y6f{bottom:176.330530px;}
.y78{bottom:181.280025px;}
.y56{bottom:189.764874px;}
.y10{bottom:199.191010px;}
.y3d{bottom:203.199217px;}
.y6e{bottom:206.027500px;}
.y77{bottom:210.976995px;}
.y55{bottom:219.461843px;}
.yf{bottom:228.887980px;}
.y3c{bottom:232.896187px;}
.y6d{bottom:235.724470px;}
.y54{bottom:249.158813px;}
.y76{bottom:251.280025px;}
.ye{bottom:258.584949px;}
.y3b{bottom:262.593157px;}
.y8e{bottom:263.300227px;}
.y6c{bottom:265.421439px;}
.y53{bottom:278.855783px;}
.y75{bottom:280.976995px;}
.yd{bottom:288.281919px;}
.y3a{bottom:292.290126px;}
.y8d{bottom:292.997197px;}
.y6b{bottom:295.118409px;}
.y52{bottom:308.552753px;}
.y74{bottom:312.441641px;}
.yc{bottom:317.978889px;}
.y39{bottom:321.987096px;}
.y8c{bottom:322.694167px;}
.y6a{bottom:324.815379px;}
.y51{bottom:338.249722px;}
.y73{bottom:342.138611px;}
.yb{bottom:347.675859px;}
.y8b{bottom:352.391136px;}
.y69{bottom:354.512348px;}
.y38{bottom:362.290126px;}
.y50{bottom:367.946692px;}
.y72{bottom:373.603258px;}
.ya{bottom:377.372828px;}
.y8a{bottom:382.088106px;}
.y68{bottom:384.209318px;}
.y4f{bottom:397.643662px;}
.y9{bottom:407.069798px;}
.y67{bottom:413.906288px;}
.y89{bottom:417.088106px;}
.y37{bottom:427.340631px;}
.yaa{bottom:431.995455px;}
.y8{bottom:436.766768px;}
.y66{bottom:443.603258px;}
.y88{bottom:446.785076px;}
.y36{bottom:457.037601px;}
.ya9{bottom:461.692424px;}
.y7{bottom:466.463737px;}
.y65{bottom:473.300227px;}
.y87{bottom:476.482045px;}
.y35{bottom:486.734571px;}
.ya8{bottom:491.389394px;}
.y6{bottom:496.160707px;}
.y64{bottom:502.997197px;}
.y86{bottom:511.482045px;}
.y34{bottom:516.431540px;}
.ya7{bottom:521.086364px;}
.y5{bottom:525.857677px;}
.y63{bottom:532.694167px;}
.y85{bottom:541.179015px;}
.y33{bottom:546.128510px;}
.ya6{bottom:550.783333px;}
.y62{bottom:562.391136px;}
.y4{bottom:566.160707px;}
.y84{bottom:570.875985px;}
.y32{bottom:575.825480px;}
.ya5{bottom:580.480303px;}
.ybd{bottom:590.409874px;}
.y61{bottom:592.088106px;}
.y31{bottom:605.522449px;}
.y83{bottom:605.875985px;}
.ya4{bottom:610.177273px;}
.ybc{bottom:620.106843px;}
.y60{bottom:621.785076px;}
.y30{bottom:635.219419px;}
.y82{bottom:635.572955px;}
.ya3{bottom:639.874242px;}
.y5f{bottom:651.482045px;}
.y2f{bottom:664.916389px;}
.y81{bottom:665.269924px;}
.ybb{bottom:665.712904px;}
.ya2{bottom:669.571212px;}
.y5e{bottom:681.179015px;}
.y2e{bottom:694.613359px;}
.y80{bottom:694.966894px;}
.yba{bottom:695.409874px;}
.ya1{bottom:699.268182px;}
.y5d{bottom:710.875985px;}
.y2d{bottom:724.310328px;}
.yb9{bottom:725.106843px;}
.ya0{bottom:728.965152px;}
.y7f{bottom:729.966894px;}
.y5c{bottom:740.572955px;}
.y2c{bottom:754.007298px;}
.y9f{bottom:758.662121px;}
.y7e{bottom:759.663864px;}
.y5b{bottom:770.269924px;}
.yb8{bottom:770.712904px;}
.y2b{bottom:783.704268px;}
.y9e{bottom:788.359091px;}
.y7d{bottom:789.360833px;}
.y4e{bottom:794.310328px;}
.y5a{bottom:799.966894px;}
.y2a{bottom:813.401237px;}
.y18{bottom:813.660202px;}
.yb7{bottom:816.318965px;}
.y9d{bottom:818.056061px;}
.y7c{bottom:819.057803px;}
.y59{bottom:829.663864px;}
.y17{bottom:838.407677px;}
.y29{bottom:843.098207px;}
.yb6{bottom:846.015934px;}
.y9c{bottom:847.753030px;}
.y7b{bottom:848.754773px;}
.y4d{bottom:859.360833px;}
.y28{bottom:872.795177px;}
.yb5{bottom:875.712904px;}
.y9b{bottom:877.450000px;}
.y16{bottom:888.609697px;}
.y4c{bottom:889.057803px;}
.y27{bottom:902.492146px;}
.yb4{bottom:905.410051px;}
.y9a{bottom:907.146970px;}
.y15{bottom:918.660202px;}
.y4b{bottom:918.754773px;}
.y3{bottom:926.734419px;}
.y26{bottom:932.189116px;}
.y99{bottom:936.843939px;}
.y4a{bottom:948.451742px;}
.y14{bottom:948.710707px;}
.yb3{bottom:951.016111px;}
.y25{bottom:961.886086px;}
.y98{bottom:966.540909px;}
.y2{bottom:972.694015px;}
.y0{bottom:976.641414px;}
.y49{bottom:978.148712px;}
.yb2{bottom:980.712904px;}
.y24{bottom:991.583056px;}
.y97{bottom:996.237879px;}
.y48{bottom:1007.845682px;}
.yb1{bottom:1010.409874px;}
.y1{bottom:1018.653611px;}
.y23{bottom:1021.280025px;}
.y96{bottom:1025.934848px;}
.y47{bottom:1037.542652px;}
.yb0{bottom:1040.106843px;}
.y22{bottom:1050.976995px;}
.y95{bottom:1055.631818px;}
.y46{bottom:1067.239621px;}
.y21{bottom:1080.673965px;}
.y94{bottom:1085.328788px;}
.yaf{bottom:1085.713081px;}
.y45{bottom:1096.936591px;}
.y20{bottom:1110.370934px;}
.y93{bottom:1115.025758px;}
.yae{bottom:1115.410051px;}
.y44{bottom:1126.633561px;}
.y1f{bottom:1140.067904px;}
.y92{bottom:1144.722904px;}
.y43{bottom:1156.330530px;}
.yad{bottom:1161.015934px;}
.y91{bottom:1174.419697px;}
.y1e{bottom:1180.370934px;}
.y42{bottom:1186.027500px;}
.yac{bottom:1190.712904px;}
.y90{bottom:1204.116667px;}
.y41{bottom:1215.724470px;}
.y8f{bottom:1244.419697px;}
.y1d{bottom:1245.421439px;}
.yab{bottom:1246.925025px;}
.y19{bottom:1316.919192px;}
.y1c{bottom:1319.570707px;}
.y1a{bottom:1322.682172px;}
.y1b{bottom:1335.479798px;}
.h1{height:12.373737px;}
.h7{height:29.166667px;}
.ha{height:122.560000px;}
.h9{height:123.360000px;}
.hc{height:168.080000px;}
.h8{height:185.040000px;}
.h6{height:186.200000px;}
.h4{height:204.820000px;}
.hb{height:209.440000px;}
.h3{height:247.520000px;}
.h5{height:266.560000px;}
.h2{height:319.940000px;}
.h0{height:1400.000000px;}
.w1{width:1.767677px;}
.w0{width:1081.818182px;}
.x0{left:0.000000px;}
.x4{left:100.214722px;}
.xe{left:125.268005px;}
.xf{left:137.335934px;}
.x10{left:163.851086px;}
.x1{left:177.557652px;}
.x5{left:209.114747px;}
.x3{left:216.862828px;}
.x2{left:234.562399px;}
.x7{left:242.226338px;}
.x6{left:254.649571px;}
.xc{left:594.951919px;}
.x9{left:657.545530px;}
.xd{left:702.215076px;}
.x8{left:784.533662px;}
.xa{left:931.565657px;}
.xb{left:945.174293px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls24{letter-spacing:-11.766857pt;}
.lsc{letter-spacing:-4.827429pt;}
.lsa{letter-spacing:-3.620571pt;}
.ls25{letter-spacing:-3.439543pt;}
.lsb{letter-spacing:-3.017143pt;}
.ls23{letter-spacing:-2.986971pt;}
.lsd{letter-spacing:-2.821029pt;}
.ls26{letter-spacing:-2.655086pt;}
.ls1b{letter-spacing:-2.489143pt;}
.ls11{letter-spacing:-2.323200pt;}
.ls13{letter-spacing:-1.991314pt;}
.lse{letter-spacing:-1.825371pt;}
.ls14{letter-spacing:-1.765029pt;}
.ls10{letter-spacing:-1.659429pt;}
.ls22{letter-spacing:-1.629257pt;}
.lsf{letter-spacing:-1.493486pt;}
.ls1c{letter-spacing:-1.327543pt;}
.ls0{letter-spacing:-1.282286pt;}
.ls16{letter-spacing:-1.161600pt;}
.ls12{letter-spacing:-0.995657pt;}
.ls1f{letter-spacing:-0.829714pt;}
.ls7{letter-spacing:-0.663771pt;}
.ls9{letter-spacing:-0.497829pt;}
.ls1e{letter-spacing:-0.331886pt;}
.ls8{letter-spacing:-0.165943pt;}
.ls6{letter-spacing:0.000000pt;}
.ls20{letter-spacing:0.082971pt;}
.ls18{letter-spacing:0.165943pt;}
.ls1a{letter-spacing:0.248914pt;}
.ls5{letter-spacing:0.331886pt;}
.ls21{letter-spacing:0.414857pt;}
.ls4{letter-spacing:0.497829pt;}
.ls2{letter-spacing:0.663771pt;}
.ls1{letter-spacing:0.829714pt;}
.ls15{letter-spacing:0.995657pt;}
.ls3{letter-spacing:1.161600pt;}
.ls19{letter-spacing:1.327543pt;}
.ls17{letter-spacing:1.659429pt;}
.ls1d{letter-spacing:3.318857pt;}
.ws1{word-spacing:-46.675200pt;}
.wsb{word-spacing:-44.910171pt;}
.ws6e{word-spacing:-44.804571pt;}
.ws6b{word-spacing:-44.140800pt;}
.ws6c{word-spacing:-43.974857pt;}
.ws6d{word-spacing:-42.979200pt;}
.wsc{word-spacing:-31.016229pt;}
.ws70{word-spacing:-9.624686pt;}
.ws55{word-spacing:-9.458743pt;}
.ws3{word-spacing:-8.794971pt;}
.ws51{word-spacing:-8.629029pt;}
.ws44{word-spacing:-8.463086pt;}
.ws66{word-spacing:-8.297143pt;}
.ws9{word-spacing:-7.799314pt;}
.ws3b{word-spacing:-7.633371pt;}
.wsf{word-spacing:-7.467429pt;}
.ws4b{word-spacing:-7.301486pt;}
.ws10{word-spacing:-6.969600pt;}
.ws24{word-spacing:-6.803657pt;}
.ws63{word-spacing:-6.637714pt;}
.ws12{word-spacing:-6.471771pt;}
.ws29{word-spacing:-6.305829pt;}
.ws47{word-spacing:-6.139886pt;}
.ws50{word-spacing:-5.973943pt;}
.ws60{word-spacing:-5.808000pt;}
.ws3c{word-spacing:-5.476114pt;}
.ws42{word-spacing:-5.310171pt;}
.ws14{word-spacing:-5.144229pt;}
.ws4a{word-spacing:-4.978286pt;}
.ws2c{word-spacing:-4.812343pt;}
.ws48{word-spacing:-4.646400pt;}
.ws23{word-spacing:-4.480457pt;}
.ws21{word-spacing:-4.314514pt;}
.ws33{word-spacing:-4.148571pt;}
.ws5d{word-spacing:-3.816686pt;}
.ws4{word-spacing:-3.650743pt;}
.ws31{word-spacing:-3.318857pt;}
.ws3f{word-spacing:-2.986971pt;}
.ws68{word-spacing:-2.821029pt;}
.ws69{word-spacing:-2.655086pt;}
.ws2a{word-spacing:-2.489143pt;}
.ws67{word-spacing:-2.323200pt;}
.ws3e{word-spacing:-2.157257pt;}
.ws20{word-spacing:-1.991314pt;}
.ws17{word-spacing:-1.825371pt;}
.ws15{word-spacing:-1.659429pt;}
.ws1b{word-spacing:-1.493486pt;}
.ws35{word-spacing:-1.327543pt;}
.ws36{word-spacing:-1.161600pt;}
.ws38{word-spacing:-0.995657pt;}
.wsd{word-spacing:-0.829714pt;}
.ws11{word-spacing:-0.663771pt;}
.ws34{word-spacing:-0.497829pt;}
.ws8{word-spacing:-0.331886pt;}
.ws4f{word-spacing:-0.181029pt;}
.ws58{word-spacing:-0.165943pt;}
.ws0{word-spacing:0.000000pt;}
.ws41{word-spacing:0.331886pt;}
.ws28{word-spacing:0.497829pt;}
.ws2e{word-spacing:0.663771pt;}
.ws2b{word-spacing:0.829714pt;}
.ws56{word-spacing:0.995657pt;}
.wse{word-spacing:1.161600pt;}
.ws5b{word-spacing:1.327543pt;}
.ws5c{word-spacing:1.448229pt;}
.ws7{word-spacing:1.493486pt;}
.ws46{word-spacing:1.659429pt;}
.ws43{word-spacing:1.825371pt;}
.ws3d{word-spacing:1.991314pt;}
.ws1a{word-spacing:2.157257pt;}
.ws65{word-spacing:2.323200pt;}
.ws1e{word-spacing:2.489143pt;}
.ws57{word-spacing:2.655086pt;}
.ws6{word-spacing:2.986971pt;}
.ws16{word-spacing:3.152914pt;}
.ws6a{word-spacing:3.258514pt;}
.ws2d{word-spacing:3.318857pt;}
.wsa{word-spacing:3.439543pt;}
.ws54{word-spacing:3.484800pt;}
.ws25{word-spacing:3.650743pt;}
.ws3a{word-spacing:3.816686pt;}
.ws5e{word-spacing:3.982629pt;}
.ws59{word-spacing:4.148571pt;}
.ws4c{word-spacing:4.314514pt;}
.ws5a{word-spacing:4.646400pt;}
.ws30{word-spacing:4.812343pt;}
.ws49{word-spacing:4.978286pt;}
.ws1d{word-spacing:5.144229pt;}
.ws5{word-spacing:5.310171pt;}
.ws2f{word-spacing:5.476114pt;}
.ws27{word-spacing:5.642057pt;}
.ws32{word-spacing:5.808000pt;}
.ws37{word-spacing:5.973943pt;}
.ws1f{word-spacing:6.305829pt;}
.ws26{word-spacing:6.471771pt;}
.ws22{word-spacing:6.637714pt;}
.ws53{word-spacing:6.803657pt;}
.ws45{word-spacing:6.969600pt;}
.ws39{word-spacing:7.135543pt;}
.ws13{word-spacing:7.301486pt;}
.ws4e{word-spacing:7.965257pt;}
.ws5f{word-spacing:8.131200pt;}
.ws64{word-spacing:8.463086pt;}
.ws1c{word-spacing:8.629029pt;}
.ws40{word-spacing:8.960914pt;}
.ws61{word-spacing:9.126857pt;}
.ws52{word-spacing:10.122514pt;}
.ws4d{word-spacing:10.620343pt;}
.ws18{word-spacing:10.786286pt;}
.ws2{word-spacing:10.952229pt;}
.ws19{word-spacing:11.118171pt;}
.ws62{word-spacing:11.585829pt;}
.ws6f{word-spacing:11.781943pt;}
._4{margin-left:-32.570057pt;}
._20{margin-left:-19.962926pt;}
._21{margin-left:-16.162834pt;}
._22{margin-left:-15.159634pt;}
._1b{margin-left:-13.340297pt;}
._1{margin-left:-12.309943pt;}
._16{margin-left:-11.226789pt;}
._2{margin-left:-10.258286pt;}
._c{margin-left:-9.102720pt;}
._d{margin-left:-8.067840pt;}
._11{margin-left:-7.238126pt;}
._5{margin-left:-5.883429pt;}
._14{margin-left:-5.127634pt;}
._8{margin-left:-4.150080pt;}
._0{margin-left:-3.333943pt;}
._6{margin-left:-2.323200pt;}
._9{margin-left:-1.143497pt;}
._3{width:1.282286pt;}
._10{width:2.039589pt;}
._f{width:2.821029pt;}
._e{width:3.620571pt;}
._7{width:4.976777pt;}
._a{width:5.973943pt;}
._12{width:6.820251pt;}
._1f{width:7.616777pt;}
._13{width:8.464594pt;}
._17{width:10.255269pt;}
._b{width:11.267520pt;}
._15{width:12.579977pt;}
._19{width:22.504869pt;}
._1e{width:27.546514pt;}
._18{width:30.865371pt;}
._1d{width:31.676983pt;}
._1a{width:36.552686pt;}
._1c{width:38.664686pt;}
.fs6{font-size:120.685714pt;}
.fs4{font-size:150.857143pt;}
.fs2{font-size:165.942857pt;}
.fs5{font-size:181.028571pt;}
.fs1{font-size:196.114286pt;}
.fs3{font-size:211.200000pt;}
.fs0{font-size:256.457143pt;}
.y13{bottom:83.046933pt;}
.y40{bottom:86.070267pt;}
.y71{bottom:88.203600pt;}
.y7a{bottom:91.936933pt;}
.y58{bottom:98.336933pt;}
.y12{bottom:105.446933pt;}
.y3f{bottom:108.470267pt;}
.y70{bottom:110.603600pt;}
.y79{bottom:114.336933pt;}
.y57{bottom:120.736933pt;}
.y11{bottom:127.846933pt;}
.y3e{bottom:130.870267pt;}
.y6f{bottom:133.003600pt;}
.y78{bottom:136.736933pt;}
.y56{bottom:143.136933pt;}
.y10{bottom:150.246933pt;}
.y3d{bottom:153.270267pt;}
.y6e{bottom:155.403600pt;}
.y77{bottom:159.136933pt;}
.y55{bottom:165.536933pt;}
.yf{bottom:172.646933pt;}
.y3c{bottom:175.670267pt;}
.y6d{bottom:177.803600pt;}
.y54{bottom:187.936933pt;}
.y76{bottom:189.536933pt;}
.ye{bottom:195.046933pt;}
.y3b{bottom:198.070267pt;}
.y8e{bottom:198.603600pt;}
.y6c{bottom:200.203600pt;}
.y53{bottom:210.336933pt;}
.y75{bottom:211.936933pt;}
.yd{bottom:217.446933pt;}
.y3a{bottom:220.470267pt;}
.y8d{bottom:221.003600pt;}
.y6b{bottom:222.603600pt;}
.y52{bottom:232.736933pt;}
.y74{bottom:235.670267pt;}
.yc{bottom:239.846933pt;}
.y39{bottom:242.870267pt;}
.y8c{bottom:243.403600pt;}
.y6a{bottom:245.003600pt;}
.y51{bottom:255.136933pt;}
.y73{bottom:258.070267pt;}
.yb{bottom:262.246933pt;}
.y8b{bottom:265.803600pt;}
.y69{bottom:267.403600pt;}
.y38{bottom:273.270267pt;}
.y50{bottom:277.536933pt;}
.y72{bottom:281.803600pt;}
.ya{bottom:284.646933pt;}
.y8a{bottom:288.203600pt;}
.y68{bottom:289.803600pt;}
.y4f{bottom:299.936933pt;}
.y9{bottom:307.046933pt;}
.y67{bottom:312.203600pt;}
.y89{bottom:314.603600pt;}
.y37{bottom:322.336933pt;}
.yaa{bottom:325.848000pt;}
.y8{bottom:329.446933pt;}
.y66{bottom:334.603600pt;}
.y88{bottom:337.003600pt;}
.y36{bottom:344.736933pt;}
.ya9{bottom:348.248000pt;}
.y7{bottom:351.846933pt;}
.y65{bottom:357.003600pt;}
.y87{bottom:359.403600pt;}
.y35{bottom:367.136933pt;}
.ya8{bottom:370.648000pt;}
.y6{bottom:374.246933pt;}
.y64{bottom:379.403600pt;}
.y86{bottom:385.803600pt;}
.y34{bottom:389.536933pt;}
.ya7{bottom:393.048000pt;}
.y5{bottom:396.646933pt;}
.y63{bottom:401.803600pt;}
.y85{bottom:408.203600pt;}
.y33{bottom:411.936933pt;}
.ya6{bottom:415.448000pt;}
.y62{bottom:424.203600pt;}
.y4{bottom:427.046933pt;}
.y84{bottom:430.603600pt;}
.y32{bottom:434.336933pt;}
.ya5{bottom:437.848000pt;}
.ybd{bottom:445.337733pt;}
.y61{bottom:446.603600pt;}
.y31{bottom:456.736933pt;}
.y83{bottom:457.003600pt;}
.ya4{bottom:460.248000pt;}
.ybc{bottom:467.737733pt;}
.y60{bottom:469.003600pt;}
.y30{bottom:479.136933pt;}
.y82{bottom:479.403600pt;}
.ya3{bottom:482.648000pt;}
.y5f{bottom:491.403600pt;}
.y2f{bottom:501.536933pt;}
.y81{bottom:501.803600pt;}
.ybb{bottom:502.137733pt;}
.ya2{bottom:505.048000pt;}
.y5e{bottom:513.803600pt;}
.y2e{bottom:523.936933pt;}
.y80{bottom:524.203600pt;}
.yba{bottom:524.537733pt;}
.ya1{bottom:527.448000pt;}
.y5d{bottom:536.203600pt;}
.y2d{bottom:546.336933pt;}
.yb9{bottom:546.937733pt;}
.ya0{bottom:549.848000pt;}
.y7f{bottom:550.603600pt;}
.y5c{bottom:558.603600pt;}
.y2c{bottom:568.736933pt;}
.y9f{bottom:572.248000pt;}
.y7e{bottom:573.003600pt;}
.y5b{bottom:581.003600pt;}
.yb8{bottom:581.337733pt;}
.y2b{bottom:591.136933pt;}
.y9e{bottom:594.648000pt;}
.y7d{bottom:595.403600pt;}
.y4e{bottom:599.136933pt;}
.y5a{bottom:603.403600pt;}
.y2a{bottom:613.536933pt;}
.y18{bottom:613.732267pt;}
.yb7{bottom:615.737733pt;}
.y9d{bottom:617.048000pt;}
.y7c{bottom:617.803600pt;}
.y59{bottom:625.803600pt;}
.y17{bottom:632.398933pt;}
.y29{bottom:635.936933pt;}
.yb6{bottom:638.137733pt;}
.y9c{bottom:639.448000pt;}
.y7b{bottom:640.203600pt;}
.y4d{bottom:648.203600pt;}
.y28{bottom:658.336933pt;}
.yb5{bottom:660.537733pt;}
.y9b{bottom:661.848000pt;}
.y16{bottom:670.265600pt;}
.y4c{bottom:670.603600pt;}
.y27{bottom:680.736933pt;}
.yb4{bottom:682.937867pt;}
.y9a{bottom:684.248000pt;}
.y15{bottom:692.932267pt;}
.y4b{bottom:693.003600pt;}
.y3{bottom:699.022533pt;}
.y26{bottom:703.136933pt;}
.y99{bottom:706.648000pt;}
.y4a{bottom:715.403600pt;}
.y14{bottom:715.598933pt;}
.yb3{bottom:717.337867pt;}
.y25{bottom:725.536933pt;}
.y98{bottom:729.048000pt;}
.y2{bottom:733.689200pt;}
.y0{bottom:736.666667pt;}
.y49{bottom:737.803600pt;}
.yb2{bottom:739.737733pt;}
.y24{bottom:747.936933pt;}
.y97{bottom:751.448000pt;}
.y48{bottom:760.203600pt;}
.yb1{bottom:762.137733pt;}
.y1{bottom:768.355867pt;}
.y23{bottom:770.336933pt;}
.y96{bottom:773.848000pt;}
.y47{bottom:782.603600pt;}
.yb0{bottom:784.537733pt;}
.y22{bottom:792.736933pt;}
.y95{bottom:796.248000pt;}
.y46{bottom:805.003600pt;}
.y21{bottom:815.136933pt;}
.y94{bottom:818.648000pt;}
.yaf{bottom:818.937867pt;}
.y45{bottom:827.403600pt;}
.y20{bottom:837.536933pt;}
.y93{bottom:841.048000pt;}
.yae{bottom:841.337867pt;}
.y44{bottom:849.803600pt;}
.y1f{bottom:859.936933pt;}
.y92{bottom:863.448133pt;}
.y43{bottom:872.203600pt;}
.yad{bottom:875.737733pt;}
.y91{bottom:885.848000pt;}
.y1e{bottom:890.336933pt;}
.y42{bottom:894.603600pt;}
.yac{bottom:898.137733pt;}
.y90{bottom:908.248000pt;}
.y41{bottom:917.003600pt;}
.y8f{bottom:938.648000pt;}
.y1d{bottom:939.403600pt;}
.yab{bottom:940.537733pt;}
.y19{bottom:993.333333pt;}
.y1c{bottom:995.333333pt;}
.y1a{bottom:997.680267pt;}
.y1b{bottom:1007.333333pt;}
.h1{height:9.333333pt;}
.h7{height:22.000000pt;}
.ha{height:92.445257pt;}
.h9{height:93.048686pt;}
.hc{height:126.780343pt;}
.h8{height:139.573029pt;}
.h6{height:140.448000pt;}
.h4{height:154.492800pt;}
.hb{height:157.977600pt;}
.h3{height:186.700800pt;}
.h5{height:201.062400pt;}
.h2{height:241.326171pt;}
.h0{height:1056.000000pt;}
.w1{width:1.333333pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:75.590533pt;}
.xe{left:94.487867pt;}
.xf{left:103.590533pt;}
.x10{left:123.590533pt;}
.x1{left:133.929200pt;}
.x5{left:157.732267pt;}
.x3{left:163.576533pt;}
.x2{left:176.927067pt;}
.x7{left:182.707867pt;}
.x6{left:192.078533pt;}
.xc{left:448.763733pt;}
.x9{left:495.977200pt;}
.xd{left:529.670800pt;}
.x8{left:591.762533pt;}
.xa{left:702.666667pt;}
.xb{left:712.931467pt;}
}
